@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/itemBox/itemBox.scss';
@import '../components/modal/modal.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  @include media-phone();
  @include media-smart();
  @include media-tablet();
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      .search-block {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 30px; // fit-content;
        //border: 1px solid yellowgreen;
        @include flex-vertical();

        .search-box {
          margin: 0 auto;
          width: inherit;
          height: inherit;
          @include flex-horizontal();
          justify-content: flex-end;
          display: none;
        }
        .search-input {
          padding-left: 10px;
          width: 30%;
          height: 30px;
          background-color: $color-grey-light;
          border: none;
          //border-radius: 3px;
          outline: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search-input::placeholder {
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
        }
        .search-button {
          margin-left: 3px;
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-grey-light;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .clear {
          margin-left: 0;
          background-color: $color-grey-light;
          color: $color-button-to-cart;
          outline-color: white;
          @include text-font(18px, 400, 18px, 0%);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .search-close {
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-banner;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .search-button:hover {
          color: $color-button-to-cart;
        }
        .search-close:hover {
          color: $color-button-to-cart;
        }
      }

      .poster {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        height: 75vh; // 80vh;
        box-sizing: border-box;
        //border: 2px solid orange;
        @media only screen and (max-width: 1023px) {
          height: auto;
        }
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
          @include flex-vertical();
          height: auto;
        }
        &__info {
          margin: 0 auto;
          margin-left: 0;
          width: 25%;
          height: inherit; // auto;
          @media only screen and (max-width: 1023px) {
            width: 100%;
          }
          height: inherit;
          @include flex-vertical();
          justify-content: space-evenly;
          //justify-content: flex-start;
          &__text {
            //margin-top: 20px; // 40px;
            @include font-info();
            text-align: left;
            color: $color-white;
          }
          &__decor {
            //margin-top: 40px;
            width: 50%;
            height: auto;
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
          &__contacts {
            //margin-top: 40px;
            @include flex-vertical();
            @media only screen and (max-width: 1023px) {
              display: none;
            }
            &__phone {
              @include font-info();
              text-align: left;
              color: $color-white;
            }
            &__email {
              margin-top: 20px;
              @include text-font(18px, 500, 18px, 0%);
              text-align: left;
              color: $color-white;
            }
          }
        }
        &__slide {
          margin: 0 auto;
          margin-right: 0;
          width: auto; // 75%;
          height: inherit;
          @include flex-vertical();
          //justify-content: flex-start;
          &__image {
            margin: 0 auto;
            margin-right: 0;
            width: auto; // 100%;
            height: 98%; // 100%; // inherit; // auto;
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
        }
      }
      .catalog {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        &__heading {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include head-1();
          @media only screen and (max-width: 1023px) {
            @include head-2();
            text-align: left;
          }
          text-align: center;
          color: $color-white;
        }
        &__block {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: space-evenly; // space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
.lock {
  overflow-y: hidden;
}
