@use "sass:math";

@import "../vars/vars.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/itemBox/itemBox.scss";
@import "../components/modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();

      .poster {
        margin: 0 auto;
        width: 100%;
        height: 80vh;
        @include flex-horizontal();
        &__info {
          margin: 0 auto;
          width: 25%;
          height: inherit;
          @include flex-vertical();
          justify-content: flex-start;
          &__text {
            margin-top: 40px;
            @include font-info();
            text-align: left;
            color: $color-white;
          }
          &__decor {
            margin-top: 40px;
            width: 50%;
            height: auto;
          }
          &__contacts {
            margin-top: 40px;
            @include flex-vertical();
            &__phone {
              @include font-info();
              text-align: left;
              color: $color-white;
            }
            &__email {
              margin-top: 20px;
              @include text-font(18px, 500, 18px, 0%);
              text-align: left;
              color: $color-white;
            }
          }
        }
        &__slide {
          margin: 0 auto;
          width: auto; // 75%;
          height: inherit;
          @include flex-vertical();
          justify-content: flex-start;
          //display: none; //////
          &__image {
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
        }
      }
      .catalog {
        margin: 0 auto;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        &__heading {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include head-1();
          text-align: center;
          color: $color-white;
        }
        &__block {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
  footer {
    margin: 0 auto;
    width: $site-width;
    height: $footer-height;
    @include flex-vertical();
    background-color: $color-background-dark;

    .footer-top {
      margin: 0 auto;
      width: $block-width;
      height: 70%;
      @include flex-horizontal();
      justify-content: space-between;
      &__left {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        @include flex-vertical();
        &__box {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: space-between;
          &__logo {
            margin: 0 auto;
            height: $menu-height;
            @include flex-horizontal();
            justify-content: flex-start;
            img {
              height: inherit;
            }
          }
          &__navigation {
            margin: 0 auto;
            height: $menu-height;
            @include flex-horizontal();
            &__nav-item {
              margin: 0 auto;
              margin-left: 20px;
              height: inherit;
              @include flex-horizontal();
              &__text {
                margin: 0 auto;
                @include flex-vertical();
                @include font-menu();
                text-decoration: none;
                cursor: pointer;
                color: $color-white;
              }
              &__text:hover {
                color: $color-button-to-cart;
              }
              .last {
                margin-right: 20px;
              }
            }
          }
        }
      }
      &__right {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        @include flex-vertical();
        &__box {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          &__contacts {
            margin: 0 auto;
            &__text {
              margin: 0 auto;
              margin-left: 20px;
              @include font-menu();
              text-decoration: none;
              cursor: pointer;
              color: $color-white;
            }
            .email:hover {
              color: $color-button-to-cart;
            }
          }
        }
      }
    }
    .footer-bottom {
      margin: 0 auto;
      width: $block-width;
      height: 30%;
      @include flex-horizontal();
      justify-content: space-between;
      &__left {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        @include flex-vertical();
        &__box {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-start;
          &__copyrights {
            margin: 0 auto;
            @include font-menu();
            text-decoration: none;
            color: $color-white;
          }
        }
      }
      &__right {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        @include flex-vertical();
        &__box {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          &__roles {
            margin: 0 auto;
            &__text {
              margin: 0 auto;
              margin-left: 20px;
              @include font-menu();
              text-decoration: none;
              cursor: pointer;
              color: $color-button-to-cart;
            }
            &__text:hover {
              color: $color-banner;
            }
          }
        }
      }
    }
  }
}
.lock {
  overflow-y: hidden;
}
