@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/itemBox/itemBox.scss';
//@import '../components/modal/modal.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      .search-block {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 30px; // fit-content;
        //border: 1px solid yellowgreen;
        @include flex-vertical();

        .search-box {
          margin: 0 auto;
          width: inherit;
          height: inherit;
          @include flex-horizontal();
          justify-content: flex-end;
          display: none;
        }
        .search-input {
          padding-left: 10px;
          width: 30%;
          height: 30px;
          background-color: $color-grey-light;
          border: none;
          //border-radius: 3px;
          outline: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search-input::placeholder {
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
        }
        .search-button {
          margin-left: 3px;
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-grey-light;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .clear {
          margin-left: 0;
          background-color: $color-grey-light;
          color: $color-button-to-cart;
          outline-color: white;
          @include text-font(18px, 400, 18px, 0%);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .search-close {
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-banner;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .search-button:hover {
          color: $color-button-to-cart;
        }
        .search-close:hover {
          color: $color-button-to-cart;
        }
      }
      .product {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 0 auto;
          width: 100%;
          @include head-1();
          @media only screen and (max-width: 1023px) {
            @include head-2();
            text-align: left;
          }
          text-align: left;
          color: $color-white;
        }
        .crumbs {
          margin: 0;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__block {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          height: $item-height;
          @include flex-horizontal();
          @media only screen and (max-width: 1023px) {
            height: auto;
            @include flex-vertical();
          }
          justify-content: space-between;
          background-color: $color-background-dark;
          border-radius: 3px;
          &__image {
            margin: 0;
            width: 50%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            @media only screen and (max-width: 1023px) {
              width: 100%;
            }
            @include flex-vertical();
            img {
              width: $item-height;
              object-fit: cover;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              @media only screen and (max-width: 1023px) {
                width: 100%;
              }
            }
          }
          &__parts {
            margin: 0 auto;
            margin-left: 40px;
            width: 60%;
            @include flex-vertical();
            @media only screen and (max-width: 1023px) {
              margin-left: 0;
              width: 100%;
              flex-direction: column-reverse;
            }
            justify-content: flex-start;
            &__heading {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              @include font-mix();
              text-align: left;
              color: $color-white;
              @media only screen and (max-width: 1023px) {
                display: none;
              }
            }
            &__component {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              @include flex-horizontal();
              &__name-box {
                margin: 0 auto;
                margin-left: 0;
                width: 50%;
                @media only screen and (max-width: 1023px) {
                  width: 40%;
                }
                @include flex-vertical();
                &__name {
                  @include font-mix();
                  text-align: left;
                  color: $color-white;
                }
                &__weight-box {
                  margin-top: 10px;
                  width: 100%;
                  height: fit-content; // 40px; // fit-content;
                  @include flex-horizontal();
                  justify-content: flex-start;
                  //border: 2px solid orange;
                  &__weight {
                    margin-right: 10px;
                    @include font-description();
                    text-align: left;
                    color: $color-white;
                  }
                }
              }
              .counter {
                margin: 0 auto;
                width: 15%;
                @media only screen and (max-width: 1023px) {
                  width: 20%;
                }
                @include flex-horizontal();
                &__minus {
                  width: 25%;
                  @include font-mix();
                  color: $color-white;
                  background-color: $color-background-dark;
                  border: none;
                  outline: none;
                  cursor: pointer;
                }
                &__value {
                  width: 50%;
                  @include font-mix();
                  text-align: center;
                  color: $color-white;
                  background-color: $color-background;
                  border: none;
                }
                &__plus {
                  width: 25%;
                  @include font-mix();
                  color: $color-white;
                  background-color: $color-background-dark;
                  border: none;
                  outline: none;
                  cursor: pointer;
                }
              }
              .shopping-box {
                margin: 0 auto;
                width: 25%;
                @media only screen and (max-width: 1023px) {
                  margin-left: 20px;
                  width: 38%;
                }
                height: $button-to-cart-size;
                @include flex-horizontal();
                justify-content: flex-end;
                &__price-box {
                  margin: 0 auto;
                  width: 70%;
                  height: inherit;
                  @include flex-vertical();
                  @include font-price();
                  color: $color-white;
                  &__origin-box {
                    margin-top: 10px;
                    width: 100%;
                    height: fit-content; // 40px; // fit-content;
                    @include flex-horizontal();
                    justify-content: flex-start;
                    //border: 2px solid orange;
                    &__origin {
                      margin-right: 10px;
                      @include text-font(18px, 400, 18px, 0%);
                      font-style: italic;
                      text-decoration: line-through;
                      color: $color-grey-middle;
                    }
                  }
                  &__active-box {
                    margin-top: 10px;
                    width: 100%;
                    height: fit-content; // 40px; // fit-content;
                    @include flex-horizontal();
                    justify-content: flex-start;
                    //border: 2px solid orange;
                    &__active {
                      margin-right: 10px;
                      @include font-price();
                      color: $color-white;
                    }
                  }
                  // &__origin {
                  //   @include text-font(18px, 400, 18px, 0%);
                  //   font-style: italic;
                  //   text-decoration: line-through;
                  //   color: $color-grey-middle;
                  // }
                  // &__active {
                  //   @include font-price();
                  //   color: $color-white;
                  // }
                }
                &__button-box {
                  margin: 0 auto;
                  width: 30%;
                  height: 100%;
                  @include flex-vertical();
                  @include font-price();
                  color: $color-white;
                  .to-cart {
                    margin: 0 auto;
                    padding: 0;
                    width: $button-to-cart-size;
                    height: 100%;
                    background-color: $color-button-to-cart;
                    border-radius: 3px;
                    cursor: pointer;
                  }
                  .to-cart:hover {
                    background-color: $color-button-to-cart-hover;
                  }
                }
              }
            }
            &__description {
              margin: 0;
              margin-top: 40px;
              width: 75%;
              @media only screen and (max-width: 1023px) {
                margin-top: 20px;
                width: 100%;
              }
              @include flex-vertical();
              &__heading {
                margin: 0 auto;
                width: 100%;
                @include font-mix();
                text-align: left;
                color: $color-white;
                @media only screen and (max-width: 1023px) {
                  display: none;
                }
              }
              &__text {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
                @include font-description();
                text-align: left;
                color: $color-white;
              }
            }
          }
        }
      }
      .catalog {
        margin: 0 auto;
        width: 100%;
        //min-height: $item-height;
        height: fit-content; // $item-height;
        @include flex-vertical();
        &__heading {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include head-2();
          @media only screen and (max-width: 1023px) {
            @include head-3();
          }
          text-align: left;
          color: $color-white;
        }
        &__block {
          margin: 0 auto;
          //margin-top: 40px;
          width: 100%;
          height: $item-height + $button-to-cart-size;
          @include flex-horizontal();
          justify-content: space-between; // flex-start;
          flex-wrap: wrap;
          overflow: hidden;
        }
      }
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.43);
        z-index: 10;
        display: none;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        user-select: none;
        &__block {
          margin: 0 auto;
          width: 65%;
          height: auto;
          @media only screen and (max-width: 1023px) {
            width: 85%;
          }
          @include flex-vertical();
          justify-content: space-around;
          overflow: auto;
          position: relative;
          border-radius: 2px;
          background-color: $color-grey-light;
          &__close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            @include text-font(20px, 500, 20px, 0%);
            color: $color-grey-dark;
            cursor: pointer;
            border: none;
            background-color: inherit; // $color-white;
            opacity: 1;
            z-index: 999;
          }
          &__close:hover {
            color: orange;
          }
          &__items {
            margin: 0 auto;
            width: 100%;
            height: inherit; // 100%;
            @include flex-horizontal();
            justify-content: space-between;
            flex-wrap: wrap;
            @include text-font(14px, 300, 14px, 0%);
            .product-modal {
              margin: 0 auto;
              width: 100%;
              height: 100%;
              @include flex-horizontal();
              @media only screen and (max-width: 768px) {
                @include flex-vertical();
                height: auto;
              }
              justify-content: space-between;
              border-radius: 2px;
              background-color: inherit;
              overflow-y: auto;
              &__image-box {
                margin: 0;
                height: 100%;
                width: 50%;
                //border: 2px solid orange;
                @media only screen and (max-width: 768px) {
                  width: 100%;
                }
                @include flex-vertical();
                &__image {
                  margin: 0;
                  width: auto;
                  height: 100%;
                  object-fit: cover;
                }
              }
              &__text-box {
                margin: 0; // 0 auto;
                height: auto;
                width: 50%;
                //border: 2px solid orange;
                @media only screen and (max-width: 768px) {
                  width: 100%;
                }
                @include flex-vertical();
                justify-content: space-around;
                &__heading {
                  margin: 0 auto;
                  margin-top: 10px;
                  width: 80%;
                  @include text-font(18px, 500, 16px, 0%);
                  color: $color-background;
                  text-align: left;
                }
                &__weight {
                  margin: 0 auto;
                  margin-top: 10px;
                  width: 80%;
                  .product-resume {
                    @include text-font(16px, 300, 14px, 0%);
                    color: $color-background;
                    text-align: left;
                  }
                }
                &__resume {
                  margin: 0 auto;
                  margin-top: 20px;
                  width: 80%;
                  .product-resume {
                    @include text-font(16px, 300, 14px, 0%);
                    color: $color-background;
                    text-align: left;
                  }
                }
                &__price-box {
                  margin: 0 auto;
                  margin-top: 10px;
                  width: 80%;
                  @include flex-vertical();
                  .product-price-origin {
                    @include text-font(18px, 400, 16px, 0%);
                    color: $color-background;
                  }
                  .product-price-active {
                    margin-top: 10px;
                    @include text-font(20px, 500, 16px, 0%);
                    color: $color-background;
                  }
                }
                &__button-box {
                  margin: 10px auto;
                  width: 80%;
                  height: fit-content;
                  @include flex-horizontal();
                  justify-content: space-between;
                  .to-product-page {
                    padding: 5px;
                    @include text-font(14px, 400, 14px, 0%);
                    color: orangered;
                    font-style: italic;
                    text-decoration: none;
                    border-bottom: 1px solid orangered;
                  }
                  .to-cart {
                    padding: 5px;
                    background: none;
                    border: 1px solid $color-grey-light;
                    border-radius: 2px;
                    @include text-font(18px, 400, 14px, 0%);
                    color: orangered;
                    cursor: pointer;
                    box-sizing: border-box;
                  }
                  .to-cart:hover {
                    border: 1px solid $color-background;
                    color: orange;
                  }
                }
              }
            }
          }
        }
        &--open {
          display: flex;
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
