@use "sass:math";

@import "../vars/vars.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      .product {
        margin: 0 auto;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 0 auto;
          width: 100%;
          @include head-1();
          text-align: left;
          color: $color-white;
        }
        .crumbs {
          margin: 0;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__block {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          height: $item-height;
          @include flex-horizontal();
          justify-content: space-between;
          background-color: $color-background-dark;
          &__image {
            margin: 0;
            width: 50%;
            @include flex-vertical();
            img {
              width: $item-height;
            }
          }
          &__parts {
            margin: 0 auto;
            margin-left: 40px;
            width: 60%;
            @include flex-vertical();
            justify-content: flex-start;
            &__heading {
              margin: 0 auto;
              width: 100%;
              @include font-mix();
              text-align: left;
              color: $color-white;
            }
            &__component {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              @include flex-horizontal();
              &__name-box {
                margin: 0 auto;
                width: 50%;
                @include flex-vertical();
                &__name {
                  @include font-mix();
                  text-align: left;
                  color: $color-white;
                }
                &__weight {
                  @include font-description();
                  text-align: left;
                  color: $color-white;
                }
              }
              .counter {
                margin: 0 auto;
                width: 15%;
                @include flex-horizontal();
                &__minus {
                  width: 25%;
                  @include font-mix();
                  color: $color-white;
                  background-color: $color-background-dark;
                  cursor: pointer;
                }
                &__value {
                  width: 50%;
                  @include font-mix();
                  text-align: center;
                  color: $color-white;
                  background-color: $color-background;
                  border: none;
                }
                &__plus {
                  width: 25%;
                  @include font-mix();
                  color: $color-white;
                  background-color: $color-background-dark;
                  cursor: pointer;
                }
              }
              .shopping-box {
                margin: 0 auto;
                width: 25%;
                height: $button-to-cart-size;
                @include flex-horizontal();
                justify-content: flex-end;
                &__price-box {
                  margin: 0 auto;
                  width: 70%;
                  height: inherit;
                  @include flex-vertical();
                  @include font-price();
                  color: $color-white;
                  &__origin {
                    @include text-font(18px, 400, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    color: $color-grey-middle;
                  }
                  &__active {
                    @include font-price();
                    color: $color-white;
                  }
                }
                &__button-box {
                  margin: 0 auto;
                  width: 30%;
                  height: 100%;
                  @include flex-vertical();
                  @include font-price();
                  color: $color-white;
                  .to-cart {
                    margin: 0 auto;
                    padding: 0;
                    width: $button-to-cart-size;
                    height: 100%;
                    background-color: $color-button-to-cart;
                    cursor: pointer;
                  }
                }
              }
            }
            &__description {
              margin: 0;
              margin-top: 40px;
              width: 75%;
              @include flex-vertical();
              &__heading {
                margin: 0 auto;
                width: 100%;
                @include font-mix();
                text-align: left;
                color: $color-white;
              }
              &__text {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
                @include font-description();
                text-align: left;
                color: $color-white;
              }
            }
          }
        }
      }
      .catalog {
        margin: 0 auto;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        &__heading {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include head-1();
          text-align: left;
          color: $color-white;
        }
        &__block {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__item {
            margin: 0;
            margin-top: 40px;
            margin-left: 10px;
            width: $item-width;
            height: $item-height;
            @include flex-vertical();
            justify-content: space-between;
            background-color: $color-background-dark;
            &__image {
              margin: 0 auto;
              @include flex-horizontal();
              width: 100%;
              height: auto;
              img {
                width: 100%;
              }
            }
            &__heading {
              @include font-mix();
              text-decoration: none;
              text-align: left;
              color: $color-white;
              cursor: pointer;
            }
            &__weight {
              @include font-description();
              text-align: left;
              color: $color-white;
            }
            &__text {
              @include font-description();
              text-align: left;
              color: $color-white;
            }
            &__shopping-box {
              margin: 0 auto;
              width: 100%;
              height: $button-to-cart-size;
              @include flex-horizontal();
              &__price-box {
                width: 50%;
                height: inherit;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                &__origin {
                  @include text-font(18px, 400, 18px, 0%);
                  font-style: italic;
                  text-decoration: line-through;
                  color: $color-grey-middle;
                }
                &__active {
                  @include font-price();
                  color: $color-white;
                }
              }
              &__button-box {
                width: 50%;
                height: 100%;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                .to-cart {
                  margin: 0;
                  padding: 0;
                  width: $button-to-cart-size;
                  height: 100%;
                  background-color: $color-button-to-cart;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
