@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

@font-face {
  font-family: Montserrat;
  src: url(../../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../../assets/font/Montserrat-Black.ttf);
}
header {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
header .header-block {
  margin: 0 auto;
  width: 93.75%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}
header .header-block__logo {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  header .header-block__logo {
    width: 30%;
  }
}
header .header-block__logo .logo-box {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .header-block__logo .logo-box a {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__logo .logo-box a img {
  margin: auto;
  height: auto;
  width: 100%;
}
header .header-block__navigation {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  header .header-block__navigation {
    display: none;
  }
}
header .header-block__navigation .nav-box {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__navigation .nav-box .nav-item {
  margin: 0 auto;
  width: auto;
  max-width: 12%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__navigation .nav-box .nav-item__text {
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__text:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item .promo:hover {
  color: #b70000;
}
header .header-block__navigation .nav-box .nav-item__image {
  margin: 0 auto;
  height: 80%;
}
header .header-block__navigation .nav-box .nav-item__button-box {
  margin: auto 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
header .header-block__navigation .nav-box .nav-item__button-box__button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__button-box__content {
  position: absolute;
  left: 0;
  margin-top: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: auto;
  background-color: #040e1f;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list {
  list-style-type: none;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item__button-box__button:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item__button-box:hover .nav-item__button-box__content {
  display: block;
}
header .header-block .menu-mini {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  header .header-block .menu-mini {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-block .menu-mini {
    display: none;
  }
}
header .header-block .menu-mini .menu-button {
  margin: 0 auto;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
header .header-block .menu-mini .menu-button img {
  height: 60%;
}
header .header-block .menu-mini .menu-mini-box {
  margin: 0 auto;
  padding-top: 40.5px;
  position: absolute;
  top: 40.5px;
  left: 0;
  float: right;
  width: 95vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(4, 14, 31, 0.9);
  display: none;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close {
  margin: auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search {
  margin: 0;
  margin-left: 2%;
  width: 85%;
  height: 42px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  border: #b8b8b8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  background-color: #ffffff;
  color: #040e1f;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search::-moz-placeholder {
  padding-left: 10px;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search::placeholder {
  padding-left: 10px;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close .button-search {
  margin: 0;
  padding: 0 10px;
  height: 42px;
  width: auto;
  background-color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-close .button-close {
  margin: auto 0;
  padding: 0 10px;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  color: #fbd13e;
  background: none;
  border: none;
  outline: none;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-item {
  margin: auto;
  padding: 10px 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-item__image {
  margin: 0 auto;
  width: 38px;
  height: auto;
  border-radius: 50%;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-item__link {
  margin: 0 auto;
  margin-left: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
}
header .header-block .menu-mini .menu-mini-box .menu-mini-item__link:hover {
  color: #fbd13e;
}
header .header-block .menu-mini:hover .menu-mini-box {
  display: flex;
}
header .header-block__services {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  header .header-block__services {
    width: 30%;
  }
}
header .header-block__services .services-box {
  margin: 0 auto;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
header .header-block__services .services-box .service-link {
  margin: auto;
  margin-right: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
header .header-block__services .services-box .service-link .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
header .header-block__services .services-box .service-link:hover img {
  background-color: #fbd13e;
}
header .header-block__services .services-box .cart-btn {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
}
header .header-block__services .services-box .cart-btn .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
header .header-block__services .services-box .cart-btn .cart-num {
  position: absolute;
  background-color: #d62240;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: -15px;
  right: -5px;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

@font-face {
  font-family: Montserrat;
  src: url(../../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../../assets/font/Montserrat-Black.ttf);
}
footer {
  margin: 0 auto;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
@media screen and (max-width: 1023px) {
  footer {
    margin-top: 40px;
    height: auto;
  }
}
footer .footer-top {
  margin: 0 auto;
  width: 93.75%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  footer .footer-top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
footer .footer-top__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__left {
    width: 100%;
  }
}
footer .footer-top__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__left__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
footer .footer-top__left__box__logo {
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
footer .footer-top__left__box__logo img {
  height: inherit;
}
footer .footer-top__left__box__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__left__box__navigation {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}
footer .footer-top__left__box__navigation__nav-item {
  margin: 0 auto;
  margin-left: 20px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  footer .footer-top__left__box__navigation__nav-item {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-top__left__box__navigation__nav-item {
    width: 23%;
  }
}
@media screen and (max-width: 1023px) {
  footer .footer-top__left__box__navigation__nav-item {
    margin: 0;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
    justify-content: flex-start;
  }
}
footer .footer-top__left__box__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__left__box__navigation__nav-item__text {
    width: 100%;
    text-align: left;
  }
}
footer .footer-top__left__box__navigation__nav-item__text:hover {
  color: #fbd13e;
}
footer .footer-top__left__box__navigation__nav-item .last {
  margin-right: 20px;
}
footer .footer-top__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__right {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
  }
}
footer .footer-top__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__right__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    justify-content: center;
  }
}
footer .footer-top__right__box__contacts {
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  footer .footer-top__right__box__contacts {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer-top__right__box__contacts {
    margin: auto 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-content: flex-end;
  }
}
footer .footer-top__right__box__contacts__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  footer .footer-top__right__box__contacts__text {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-top__right__box__contacts__text {
    width: 23%;
  }
}
@media screen and (max-width: 1023px) {
  footer .footer-top__right__box__contacts__text {
    margin: 0;
    margin-left: 0;
    text-align: left;
  }
}
footer .footer-top__right__box__contacts .email:hover {
  color: #fbd13e;
}
footer .footer-bottom {
  margin: 0 auto;
  width: 93.75%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  footer .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
footer .footer-bottom__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  footer .footer-bottom__left {
    margin-top: 20px;
    width: 100%;
  }
}
footer .footer-bottom__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
footer .footer-bottom__left__box__copyrights {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}
footer .footer-bottom__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  footer .footer-bottom__right {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
}
footer .footer-bottom__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  footer .footer-bottom__right__box {
    justify-content: flex-start;
  }
}
footer .footer-bottom__right__box__roles {
  margin: 0;
}
footer .footer-bottom__right__box__roles__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #fbd13e;
}
@media screen and (max-width: 1023px) {
  footer .footer-bottom__right__box__roles__text {
    margin-left: 0;
    margin-right: 20px;
  }
}
footer .footer-bottom__right__box__roles__text:hover {
  color: #b70000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #051329;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 93.75%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}
.wrapper .top header .header-block__logo {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper .top header .header-block__logo {
    width: 30%;
  }
}
.wrapper .top header .header-block__logo .logo-box {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .header-block__logo .logo-box a {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__logo .logo-box a img {
  margin: auto;
  height: auto;
  width: 100%;
}
.wrapper .top header .header-block__navigation {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper .top header .header-block__navigation {
    display: none;
  }
}
.wrapper .top header .header-block__navigation .nav-box {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item {
  margin: 0 auto;
  width: auto;
  max-width: 12%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__text {
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__text:hover {
  color: #fbd13e;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item .promo:hover {
  color: #b70000;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__image {
  margin: 0 auto;
  height: 80%;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box {
  margin: auto 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__content {
  position: absolute;
  left: 0;
  margin-top: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: auto;
  background-color: #040e1f;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__content__list {
  list-style-type: none;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__content__list__row {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link:hover {
  color: #fbd13e;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box__button:hover {
  color: #fbd13e;
}
.wrapper .top header .header-block__navigation .nav-box .nav-item__button-box:hover .nav-item__button-box__content {
  display: block;
}
.wrapper .top header .header-block .menu-mini {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper .top header .header-block .menu-mini {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .top header .header-block .menu-mini {
    display: none;
  }
}
.wrapper .top header .header-block .menu-mini .menu-button {
  margin: 0 auto;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
.wrapper .top header .header-block .menu-mini .menu-button img {
  height: 60%;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box {
  margin: 0 auto;
  padding-top: 40.5px;
  position: absolute;
  top: 40.5px;
  left: 0;
  float: right;
  width: 95vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(4, 14, 31, 0.9);
  display: none;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close {
  margin: auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search {
  margin: 0;
  margin-left: 2%;
  width: 85%;
  height: 42px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  border: #b8b8b8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  background-color: #ffffff;
  color: #040e1f;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search::-moz-placeholder {
  padding-left: 10px;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close .menu-mini-search::placeholder {
  padding-left: 10px;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close .button-search {
  margin: 0;
  padding: 0 10px;
  height: 42px;
  width: auto;
  background-color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-close .button-close {
  margin: auto 0;
  padding: 0 10px;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  color: #fbd13e;
  background: none;
  border: none;
  outline: none;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-item {
  margin: auto;
  padding: 10px 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-item__image {
  margin: 0 auto;
  width: 38px;
  height: auto;
  border-radius: 50%;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-item__link {
  margin: 0 auto;
  margin-left: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top header .header-block .menu-mini .menu-mini-box .menu-mini-item__link:hover {
  color: #fbd13e;
}
.wrapper .top header .header-block .menu-mini:hover .menu-mini-box {
  display: flex;
}
.wrapper .top header .header-block__services {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper .top header .header-block__services {
    width: 30%;
  }
}
.wrapper .top header .header-block__services .services-box {
  margin: 0 auto;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-block__services .services-box .service-link {
  margin: auto;
  margin-right: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.wrapper .top header .header-block__services .services-box .service-link .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.wrapper .top header .header-block__services .services-box .service-link:hover img {
  background-color: #fbd13e;
}
.wrapper .top header .header-block__services .services-box .cart-btn {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
}
.wrapper .top header .header-block__services .services-box .cart-btn .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.wrapper .top header .header-block__services .services-box .cart-btn .cart-num {
  position: absolute;
  background-color: #d62240;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: -15px;
  right: -5px;
}
.wrapper .top main {
  margin: 0 auto;
  width: 93.75%;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .feedback {
  margin: 0 auto;
  width: 100%;
  min-height: 42px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .feedback__message {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top main .feedback__message {
    width: 100%;
  }
}
.wrapper .top main .feedback__message__heading {
  margin: 0 auto;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top main .feedback__message__heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.wrapper .top main .feedback__message .crumbs {
  margin: 0;
  max-width: 93.75%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper .top main .feedback__message .crumbs__link {
  margin-left: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #b8b8b8;
}
.wrapper .top main .feedback__message .crumbs__link:hover {
  text-decoration: underline;
}
.wrapper .top main .feedback__message .crumbs__link:first-child {
  font-weight: 600;
}
.wrapper .top main .feedback__message__form {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .feedback__message__form__input {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .feedback__message__form__input__message {
  margin-top: 20px;
  padding-top: 10px;
  width: 80%;
  height: 96px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top main .feedback__message__form__input__message {
    width: 100%;
  }
}
.wrapper .top main .feedback__message__form__input__useremail {
  margin-top: 20px;
  width: 60%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top main .feedback__message__form__input__useremail {
    width: 100%;
  }
}
.wrapper .top main .feedback__message__form__input__label {
  width: 48%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .feedback__message__form__input__label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper .top main .feedback__message__form__button {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper .top main .feedback__message__form__button__send {
  width: 30%;
  height: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fbd13e;
  background-color: #051329;
  border: 1px solid #fbd13e;
  cursor: pointer;
}
.wrapper .top main .feedback__decor {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-image: url(../../assets/images/bg-2.png);
  background-size: 40%;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top main .feedback__decor {
    display: none;
  }
}
.wrapper .top main .feedback__decor__block {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top main .feedback__decor__block__image {
  margin: auto 0;
  width: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
@media screen and (max-width: 1023px) {
  .wrapper footer {
    margin-top: 40px;
    height: auto;
  }
}
.wrapper footer .footer-top {
  margin: 0 auto;
  width: 93.75%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.wrapper footer .footer-top__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__left {
    width: 100%;
  }
}
.wrapper footer .footer-top__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__left__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.wrapper footer .footer-top__left__box__logo {
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-top__left__box__logo img {
  height: inherit;
}
.wrapper footer .footer-top__left__box__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__left__box__navigation {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}
.wrapper footer .footer-top__left__box__navigation__nav-item {
  margin: 0 auto;
  margin-left: 20px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .wrapper footer .footer-top__left__box__navigation__nav-item {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper footer .footer-top__left__box__navigation__nav-item {
    width: 23%;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__left__box__navigation__nav-item {
    margin: 0;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
    justify-content: flex-start;
  }
}
.wrapper footer .footer-top__left__box__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__left__box__navigation__nav-item__text {
    width: 100%;
    text-align: left;
  }
}
.wrapper footer .footer-top__left__box__navigation__nav-item__text:hover {
  color: #fbd13e;
}
.wrapper footer .footer-top__left__box__navigation__nav-item .last {
  margin-right: 20px;
}
.wrapper footer .footer-top__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__right {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
  }
}
.wrapper footer .footer-top__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__right__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    justify-content: center;
  }
}
.wrapper footer .footer-top__right__box__contacts {
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__right__box__contacts {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer-top__right__box__contacts {
    margin: auto 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-content: flex-end;
  }
}
.wrapper footer .footer-top__right__box__contacts__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .wrapper footer .footer-top__right__box__contacts__text {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper footer .footer-top__right__box__contacts__text {
    width: 23%;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-top__right__box__contacts__text {
    margin: 0;
    margin-left: 0;
    text-align: left;
  }
}
.wrapper footer .footer-top__right__box__contacts .email:hover {
  color: #fbd13e;
}
.wrapper footer .footer-bottom {
  margin: 0 auto;
  width: 93.75%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.wrapper footer .footer-bottom__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-bottom__left {
    margin-top: 20px;
    width: 100%;
  }
}
.wrapper footer .footer-bottom__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-bottom__left__box__copyrights {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}
.wrapper footer .footer-bottom__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-bottom__right {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
}
.wrapper footer .footer-bottom__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-bottom__right__box {
    justify-content: flex-start;
  }
}
.wrapper footer .footer-bottom__right__box__roles {
  margin: 0;
}
.wrapper footer .footer-bottom__right__box__roles__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #fbd13e;
}
@media screen and (max-width: 1023px) {
  .wrapper footer .footer-bottom__right__box__roles__text {
    margin-left: 0;
    margin-right: 20px;
  }
}
.wrapper footer .footer-bottom__right__box__roles__text:hover {
  color: #b70000;
}/*# sourceMappingURL=feedback.css.map */