@use "sass:math";

$site-width: 100%;
$site-maket-width: 1600px;
$site-height: 3321px;
$block-maket-width: 1500px;
$block-width: math.div($block-maket-width, $site-maket-width) * $site-width;
$item-maket-width: 233px;
$item-width: math.div($item-maket-width, $site-maket-width) * $site-width;

$coeff: math.div($site-width, $site-maket-width);

$header-height: 90px;
$menu-height: 30px;
$slide-height: 680px;
$banner-width: 355px;
$banner-height: 358px;
$button-to-cart-size: 42px;
$button-confirm-maket-width: 234px;
$button-confirm-width: math.div($button-confirm-maket-width, $site-maket-width) *
  $site-width;
$footer-height: 190px;
$footer-top-height: 0.7 * $footer-height;
$item-height: 444px;
$item-order-height: 100px;
$cart-item-height: 150px; // 180px;
$cart-button-height: 20px;
$input-height: 42px;
$textarea-height: 96px;
$crumbs-height: 20px;
$payment-type-height: 130px;
$payment-icon-height: 24px;

$color-black: #000000; //rgb(0,0,0)
$color-white: #ffffff; //rgb(255,255,255)
$color-grey-light: #f0f0f0; //rgb(240,240,240)
$color-grey-middle: #b8b8b8; //rgb(184,184,184)
$color-grey-dark: #7d7d7d; //rgb(125,125,125)
$color-grey: #404040; // #5e5e5e; //rgb(64,64,64)
$color-background: #051329; //rgb(5,19,41)
$color-background-dark: #040e1f;
$color-background-gradient: #09234e; //rgb(9,35,78)
$color-button-to-cart: #fbd13e; //rgb(251,209,62)
$color-banner: #b70000; // rgb(183,0,0)

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@mixin flex-horizontal {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@mixin text-font($font-size, $font-weight, $line-height, $letter-spacing) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
@mixin head-1 {
  @include text-font(48px, 600, 90px, 0%); //  80px
}
@mixin head-2 {
  @include text-font(36px, 500, 48px, 0%);
}
@mixin head-3 {
  @include text-font(26px, 500, 26px, 0%);
}
@mixin font-menu {
  @include text-font(12px, 500, 12px, 0%);
}
@mixin font-mix {
  @include text-font(20px, 500, 20px, 0%);
}
@mixin font-price {
  @include text-font(24px, 800, 24px, 0%);
}
@mixin font-description {
  @include text-font(14px, 400, 18px, 0%);
}
@mixin font-info {
  @include text-font(26px, 500, 26px, 0%);
}
@mixin font-banner {
  @include text-font(16px, 500, 22px, 0%);
}

/////////////////////////
@media only screen and (max-width: 376px) {
  $site-width: 376px;
  $site-height: 2500px;
  $block-width: 324px;
  $header-height: 75px;
  $menu-height: 30px;
  $slide-width: $block-width;
  $slide-height: 192px;
  $banner-width: 0;
  $banner-height: 0;
  $button-to-cart-width: 40px;
  $footer-height: 300px;
  $footer-top-height: $footer-height * math.div(2, 3);
  $item-width: 155px;
  $item-height: 304px;
  $cart-item-height: 125px;
  $cart-button-height: 42px;
  $input-height: 42px;
  $textarea-height: 96px;
  $crumbs-height: 20px;
  @mixin head-1 {
    @include text-font(40px, 600, 45px, 0%);
  }
  @mixin head-2 {
    @include text-font(30px, 500, 40px, 0%);
  }
  @mixin font-menu {
    @include text-font(14px, 500, 14px, 0%);
  }
  @mixin font-mix {
    @include text-font(16px, 500, 16px, 0%);
  }
  @mixin font-price {
    @include text-font(18px, 800, 18px, 0%);
  }
  @mixin font-description {
    @include text-font(12px, 500, 16px, 0%);
  }
  @mixin font-info {
    @include text-font(26px, 500, 26px, 0%);
  }
  //   @mixin font-banner {
  //     @include text-font(16px, 500, 22px, 0%);
  //   }
}
@media only screen and (min-width: 377px) and (max-width: 768px) {
  $site-width: 377px;
  $site-height: 2500px;
  $block-width: 324px;
  $header-height: 75px;
  $menu-height: 30px;
  $slide-width: $block-width;
  $slide-height: 192px;
  $banner-width: 0;
  $banner-height: 0;
  $button-to-cart-width: 40px;
  $footer-height: 300px;
  $footer-top-height: $footer-height * math.div(2, 3);
  $item-width: 155px;
  $item-height: 304px;
  $cart-item-height: 125px;
  $cart-button-height: 42px;
  $input-height: 42px;
  $textarea-height: 96px;
  $crumbs-height: 20px;
  @mixin head-1 {
    @include text-font(40px, 600, 45px, 0%);
  }
  @mixin head-2 {
    @include text-font(30px, 500, 40px, 0%);
  }
  @mixin font-menu {
    @include text-font(14px, 500, 14px, 0%);
  }
  @mixin font-mix {
    @include text-font(16px, 500, 16px, 0%);
  }
  @mixin font-price {
    @include text-font(18px, 800, 18px, 0%);
  }
  @mixin font-description {
    @include text-font(12px, 500, 16px, 0%);
  }
  @mixin font-info {
    @include text-font(26px, 500, 26px, 0%);
  }
  //   @mixin font-banner {
  //     @include text-font(16px, 500, 22px, 0%);
  //   }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  $site-width: 769px;
  $site-height: 3941px;
  $block-width: 733px;
  $header-height: 90px;
  $menu-height: 30px;
  $slide-width: $block-width;
  $slide-height: 504px;
  $banner-width: 355px;
  $banner-height: 358px;
  $button-to-cart-width: 42px;
  $footer-height: 264px;
  $footer-top-height: $footer-height * math.div(2, 3);
  $item-width: 231px;
  $item-height: 444px;
  $cart-item-height: 120px;
  $cart-button-height: 20px;
  $input-height: 42px;
  $textarea-height: 96px;
  $crumbs-height: 20px;
  @mixin head-1 {
    @include text-font(80px, 600, 90px, 0%);
  }
  @mixin head-2 {
    @include text-font(50px, 500, 55px, 0%);
  }
  @mixin font-menu {
    @include text-font(20px, 500, 20px, 0%);
  }
  @mixin font-mix {
    @include text-font(20px, 500, 20px, 0%);
  }
  @mixin font-price {
    @include text-font(24px, 800, 24px, 0%);
  }
  @mixin font-description {
    @include text-font(14px, 500, 18px, 0%);
  }
  @mixin font-info {
    @include text-font(26px, 500, 26px, 0%);
  }
  @mixin font-banner {
    @include text-font(16px, 500, 22px, 0%);
  }
}
@mixin media-phone {
  @media only screen and (max-width: 376px) {
    @content;
  }
}
@mixin media-smart {
  @media only screen and (min-width: 377px) and (max-width: 768px) {
    @content;
  }
}
@mixin media-tablet {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
