<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../styles/components/footer/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-top">
        <div class="footer-top__left">
          <div class="footer-top__left__box">
            <!-- <section> -->
            <div class="footer-top__left__box__logo">
              <img src="../assets/logo/logo2.png" alt="logo" />
            </div>
            <!-- </section> -->
            <nav>
              <div class="footer-top__left__box__navigation">
                <div class="footer-top__left__box__navigation__nav-item">
                  <a
                    class="footer-top__left__box__navigation__nav-item__text"
                    href="#"
                    >Feedback</a
                  >
                </div>
                <div class="footer-top__left__box__navigation__nav-item">
                  <a
                    class="footer-top__left__box__navigation__nav-item__text"
                    href="#"
                    >Delivery</a
                  >
                </div>
                <div class="footer-top__left__box__navigation__nav-item">
                  <a
                    class="footer-top__left__box__navigation__nav-item__text"
                    href="#"
                    >Payment</a
                  >
                </div>
                <div class="footer-top__left__box__navigation__nav-item">
                  <a
                    class="footer-top__left__box__navigation__nav-item__text last"
                    href="#"
                    >Contacts</a
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="footer-top__right">
          <div class="footer-top__right__box">
            <div class="footer-top__right__box__contacts">
              <a class="footer-top__right__box__contacts__text" href="#"
                >+7(777)123-45-67</a
              >
              <a class="footer-top__right__box__contacts__text email" href="#"
                >testmail@testmail.test</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom__left">
          <div class="footer-bottom__left__box">
            <!-- <section> -->
            <p class="footer-bottom__left__box__copyrights">
              &#169;&nbsp;2020-2023 "maUkas ltd."
            </p>
            <!-- </section> -->
          </div>
        </div>
        <div class="footer-bottom__right">
          <div class="footer-bottom__right__box">
            <!-- <section> -->
            <div class="footer-bottom__right__box__roles">
              <a class="footer-bottom__right__box__roles__text" href="#">VK</a>
              <a class="footer-bottom__right__box__roles__text" href="#"
                >Telegram</a
              >
              <a class="footer-bottom__right__box__roles__text" href="#"
                >Whatsapp</a
              >
            </div>
            <!-- </section> -->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
