<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/components/header/header.css" />
  </head>
  <body>
    <header>
      <div id="headerin" class="header-block">
        <section>
          <div class="header-block__logo">
            <a href="../index.html"
              ><img src="../assets/logo/logo2.png" alt="logo"
            /></a>
          </div>
        </section>
        <nav>
          <div class="header-block__navigation">
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text promo" href="#"
                >PROMO</a
              >
              <img
                class="header-block__navigation__nav-item__image"
                src="../assets/icons/fire.svg"
                alt="promo"
              />
            </div>
            <div class="header-block__navigation__nav-item">
              <a
                class="header-block__navigation__nav-item__text"
                href="../pages/catalog.html"
                title="Catalog"
                >ALL&nbsp;DISHES</a
              >
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >HOTS</a
              >
              <div class="header-block__navigation__nav-item__button-box">
                <a
                  class="header-block__navigation__nav-item__button-box__button"
                  href="#"
                  >&#9660;</a
                >
                <div
                  class="header-block__navigation__nav-item__button-box__content"
                >
                  <ul
                    class="header-block__navigation__nav-item__button-box__content__list"
                  >
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Meat</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Fish</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegetables</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >COLDS</a
              >
              <div class="header-block__navigation__nav-item__button-box">
                <a
                  class="header-block__navigation__nav-item__button-box__button"
                  href="#"
                  >&#9660;</a
                >
                <div
                  class="header-block__navigation__nav-item__button-box__content"
                >
                  <ul
                    class="header-block__navigation__nav-item__button-box__content__list"
                  >
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Meat</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Fish</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegetables</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >BAKERY</a
              >
              <div class="header-block__navigation__nav-item__button-box">
                <a
                  class="header-block__navigation__nav-item__button-box__button"
                  href="#"
                  >&#9660;</a
                >
                <div
                  class="header-block__navigation__nav-item__button-box__content"
                >
                  <ul
                    class="header-block__navigation__nav-item__button-box__content__list"
                  >
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Bread</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Cakes</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Rolls</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >DESSERTS</a
              >
              <div class="header-block__navigation__nav-item__button-box">
                <a
                  class="header-block__navigation__nav-item__button-box__button"
                  href="#"
                  >&#9660;</a
                >
                <div
                  class="header-block__navigation__nav-item__button-box__content"
                >
                  <ul
                    class="header-block__navigation__nav-item__button-box__content__list"
                  >
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Sugar</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Sweetener</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >BEVERAGE</a
              >
              <div class="header-block__navigation__nav-item__button-box">
                <a
                  class="header-block__navigation__nav-item__button-box__button"
                  href="#"
                  >&#9660;</a
                >
                <div
                  class="header-block__navigation__nav-item__button-box__content"
                >
                  <ul
                    class="header-block__navigation__nav-item__button-box__content__list"
                  >
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Soft&nbsp;Drinks</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Coffee</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Tea</a
                      >
                    </li>
                    <li
                      class="header-block__navigation__nav-item__button-box__content__list__row"
                    >
                      <a
                        class="header-block__navigation__nav-item__button-box__content__list__row__link"
                        href="#"
                        >Alcogol</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <section>
          <div class="header-block__services">
            <a class="header-block__services__service" href="#" title="Search"
              ><img src="../assets/icons/search.svg" alt="search"
            /></a>
            <a class="header-block__services__service" href="#" title="Enter"
              ><img src="../assets/icons/user.svg" alt="user"
            /></a>
            <a
              class="header-block__services__service"
              href="../pages/cart.html"
              title="Cart"
              ><img src="../assets/icons/cart.svg" alt="cart"
            /></a>
          </div>
        </section>
      </div>
    </header>
  </body>
</html>
