<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/components/header/header.css" />
    <script defer src="../scripts/menuClose.js"></script>
  </head>
  <body>
    <header>
      <div id="headerin" class="header-block">
        <section class="header-block__logo">
          <div class="logo-box">
            <a href="../index.html"
              ><img src="../assets/logo/logo2.png" alt="logo"
            /></a>
          </div>
        </section>
        <nav class="header-block__navigation">
          <div class="nav-box">
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">PROMO</a>
              </div>
              <img
                class="nav-item__image"
                src="../assets/icons/fire.svg"
                alt="promo"
              />
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a
                  class="nav-item__button-box__button"
                  href="../pages/catalog.html"
                  >ALL&nbsp;DISHES</a
                >
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">VEGAN</a>
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">HOTS</a>
                <div class="nav-item__button-box__content">
                  <ul class="nav-item__button-box__content__list">
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Meat</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Fish</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegetables</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">COLDS</a>
                <div class="nav-item__button-box__content">
                  <ul class="nav-item__button-box__content__list">
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Meat</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Fish</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegetables</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">BAKERY</a>
                <div class="nav-item__button-box__content">
                  <ul class="nav-item__button-box__content__list">
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Bread</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Cakes</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Rolls</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">DESSERTS</a>
                <div class="nav-item__button-box__content">
                  <ul class="nav-item__button-box__content__list">
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Sugar</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Sweetener</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Vegan</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <div class="nav-item__button-box">
                <a class="nav-item__button-box__button" href="#">BEVERAGE</a>
                <div class="nav-item__button-box__content">
                  <ul class="nav-item__button-box__content__list">
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Soft&nbsp;Drinks</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Coffee</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Tea</a
                      >
                    </li>
                    <li class="nav-item__button-box__content__list__row">
                      <a
                        class="nav-item__button-box__content__list__row__link"
                        href="#"
                        >Alcogol</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="menu-mini">
          <button class="menu-button" onclick="menuOpen();">
            <img src="../assets/icons/burger24.png" alt="menu" />
          </button>
          <div class="menu-mini-box">
            <div class="menu-mini-close">
              <input
                class="menu-mini-search"
                type="text"
                placeholder="Find dishes..."
              />
              <button class="button-search">
                <img src="../assets/icons/search-grey.png" alt="search" />
              </button>
              <button class="button-close" onclick="menuClose();">
                &#10006;
              </button>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/icons/heart24.png"
                alt="all"
              />
              <a class="menu-mini-item__link" href="../pages/catalog.html"
                >ALL dishes</a
              >
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/icons/fire.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Promo</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-2.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Vegan</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-11.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Hots</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-8.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Colds</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-13.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Bakery</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-19.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Desserts</a>
            </div>
            <div class="menu-mini-item">
              <img
                class="menu-mini-item__image"
                src="../assets/catalog/image-2.png"
                alt="promo"
              />
              <a class="menu-mini-item__link" href="#">Beverage</a>
            </div>
          </div>
        </div>
        <section class="header-block__services">
          <div class="services-box">
            <a class="service-link" href="#" title="Search"
              ><img
                class="service-image"
                src="../assets/icons/search.svg"
                alt="search"
            /></a>
            <a class="service-link" href="#" title="Enter" target="_blank"
              ><img
                class="service-image"
                src="../assets/icons/user.svg"
                alt="user"
            /></a>
            <a
              class="service-link cart-btn"
              id="cartBtn"
              href="../pages/cart.html"
              title="Cart"
              target="_blank"
              ><img
                class="service-image"
                src="../assets/icons/cart.svg"
                alt="cart"
              />
              <div class="cart-num" id="cartBtnNum">0</div></a
            >
          </div>
        </section>
      </div>
    </header>
  </body>
</html>
