@use "sass:math";

@import "../vars/vars.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      justify-content: flex-start;
      .cart {
        margin: 0 auto;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-start;
          &__text {
            margin: 0;
            width: auto;
            @include head-1();
            text-align: left;
            color: $color-white;
          }
          &__cart-counter {
            margin: 0;
            margin-left: 20px;
            width: auto;
            height: fit-content;
            @include flex-horizontal();
            text-align: center;
            &__value {
              margin: 0 auto;
              height: fit-content;
              @include text-font(28px, 700, 28px, 0);
              text-align: right;
              color: $color-button-to-cart;
            }
            &__label {
              margin: 0 auto;
              margin-left: 10px;
              height: auto;
              @include font-description();
              line-height: 28px;
              color: $color-button-to-cart;
            }
          }
        }
        .crumbs {
          margin: 0;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__titles {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          &__point {
            color: $color-white;
          }
          &__point:first-child {
            width: 15%;
          }
          &__point:nth-child(2) {
            width: 35%;
          }
          &__point:nth-child(3) {
            width: 15%;
            text-align: center;
          }
          &__point:nth-child(4) {
            width: 15%;
            text-align: center;
          }
          &__point:nth-child(5) {
            width: 15%;
            text-align: center;
          }
          &__point:last-child {
            width: 5%;
          }
        }
        &__block {
          margin: 0 auto;
          margin-top: 10px;
          width: 100%;
          min-height: $cart-item-height;
          @include flex-horizontal();
          justify-content: space-between;
          background-color: $color-background-dark;
          &__props {
            margin: 0 auto;
            width: 100%;
            @include flex-vertical();
            justify-content: center;
            &__item {
              margin: 0 auto;
              width: 100%;
              @include flex-horizontal();
              justify-content: space-between;
              &__image {
                margin: 0;
                width: 15%;
                @include flex-vertical();
                img {
                  width: $cart-item-height;
                }
              }
              &__name-box {
                margin: 0 auto;
                width: 35%;
                @include flex-vertical();
                &__name {
                  @include font-mix();
                  text-align: left;
                  color: $color-white;
                }
                &__weight {
                  @include font-description();
                  text-align: left;
                  color: $color-white;
                }
              }
              &__price-box {
                margin: 0 auto;
                width: 15%;
                height: inherit;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                &__origin {
                  @include text-font(18px, 400, 18px, 0%);
                  font-style: italic;
                  text-decoration: line-through;
                  text-align: center;
                  color: $color-grey-middle;
                  display: none;
                }
                &__active {
                  @include font-price();
                  text-align: center;
                  color: $color-white;
                }
              }
              &__counter-box {
                margin: 0 auto;
                width: 15%;
                height: inherit;
                @include flex-vertical();
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  &__minus {
                    width: 25%;
                    @include font-mix();
                    color: $color-white;
                    background-color: $color-background-dark;
                    cursor: pointer;
                  }
                  &__value {
                    width: 50%;
                    @include font-mix();
                    text-align: center;
                    color: $color-white;
                    background-color: $color-background;
                    border: none;
                  }
                  &__plus {
                    width: 25%;
                    @include font-mix();
                    color: $color-white;
                    background-color: $color-background-dark;
                    cursor: pointer;
                  }
                }
              }

              &__total-box {
                margin: 0 auto;
                width: 15%;
                height: inherit;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                &__origin {
                  @include text-font(18px, 400, 18px, 0%);
                  font-style: italic;
                  text-decoration: line-through;
                  text-align: center;
                  color: $color-grey-middle;
                  display: none;
                }
                &__active {
                  @include font-price();
                  text-align: center;
                  color: $color-white;
                }
              }
              &__button-box {
                margin: 0 auto;
                width: 5%;
                height: 100%;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                .button-delete {
                  margin: 0 auto;
                  padding: 0;
                  width: $button-to-cart-size;
                  height: $button-to-cart-size;
                  background-color: $color-background-dark;
                  cursor: pointer;
                }
              }
            }
          }
        }
        &__promocode {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          min-height: $input-height;
          @include flex-horizontal();
          justify-content: flex-end;
          &__input {
            margin: 0;
            width: 15%;
            min-height: $input-height;
            @include flex-vertical();
            &__label {
              @include font-description();
              text-transform: uppercase;
              color: $color-white;
            }
            &__field {
              margin-top: 10px;
              width: 100%;
              height: $input-height;
              background-color: $color-grey-light;
            }
          }
          &__button {
            margin: 0;
            padding-left: 20px;
            width: 20%;
            min-height: $input-height;
            @include flex-vertical();
            justify-content: flex-end;
            &__apply {
              width: 70%;
              height: $input-height;
              @include font-description();
              color: $color-button-to-cart;
              text-transform: uppercase;
              background-color: $color-background-dark;
              border: 1px solid $color-button-to-cart;
            }
          }
        }
        &__total {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          min-height: $input-height;
          @include flex-horizontal();
          justify-content: flex-end;
          &__block {
            margin: 0;
            width: 35%;
            min-height: $input-height;
            @include flex-vertical();
            &__input {
              margin: 0;
              width: auto;
              height: fit-content;
              @include flex-horizontal();
              justify-content: flex-start;
              align-items: flex-end;
              &__label {
                margin-right: 20px;
                @include font-description();
                text-transform: uppercase;
                color: $color-white;
              }
              &__value {
                margin-top: 10px;
                padding: 0;
                height: fit-content;
                @include font-price();
                text-align: center;
                background-color: $color-background;
                color: $color-white;
                border: none;
              }
              &__currency {
                margin-left: 10px;
                @include font-price();
                font-weight: 300;
                color: $color-white;
              }
            }
            &__button {
              margin: 0;
              margin-top: 40px;
              width: 100%;
              min-height: $input-height;
              @include flex-horizontal();
              justify-content: flex-start;
              align-self: flex-start;
              &__apply {
                width: 150px;
                height: $input-height;
                @include font-description();
                color: $color-button-to-cart;
                text-transform: uppercase;
                background-color: $color-background-dark;
                border: 1px solid $color-button-to-cart;
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
