@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      justify-content: flex-start;
      .search-block {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 30px; // fit-content;
        //border: 1px solid yellowgreen;
        @include flex-vertical();

        .search-box {
          margin: 0 auto;
          width: inherit;
          height: inherit;
          @include flex-horizontal();
          justify-content: flex-end;
          display: none;
        }
        .search-input {
          padding-left: 10px;
          width: 30%;
          height: 30px;
          background-color: $color-grey-light;
          border: none;
          //border-radius: 3px;
          outline: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search-input::placeholder {
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
        }
        .search-button {
          margin-left: 3px;
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-grey-light;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .clear {
          margin-left: 0;
          background-color: $color-grey-light;
          color: $color-button-to-cart;
          outline-color: white;
          @include text-font(18px, 400, 18px, 0%);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .search-close {
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-banner;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .search-button:hover {
          color: $color-button-to-cart;
        }
        .search-close:hover {
          color: $color-button-to-cart;
        }
      }
      .cart {
        margin: 40px auto; // 0 auto;
        width: 70%; // 100%;
        min-height: $item-height;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-start;
          .heading-text {
            margin: 0;
            width: auto;
            @include head-1();
            @media only screen and (max-width: 1023px) {
              @include head-2();
              text-align: left;
            }
            text-align: left;
            color: $color-white;
          }
          .heading-counter {
            margin: 0;
            margin-left: 20px;
            width: auto;
            height: fit-content;
            @include flex-horizontal();
            text-align: center;
            &__value {
              margin: 0 auto;
              height: fit-content;
              @include text-font(28px, 700, 28px, 0);
              text-align: right;
              color: $color-button-to-cart;
            }
            &__label {
              margin: 0 auto;
              margin-left: 10px;
              height: auto;
              @include font-description();
              line-height: 28px;
              color: $color-button-to-cart;
            }
          }
        }
        .crumbs {
          margin: 0;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__titles {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
          .titles-point {
            padding-left: 10px;
            color: $color-white;
          }
          .titles-point:first-child {
            width: 15%;
          }
          .titles-point:nth-child(2) {
            width: 35%;
          }
          .titles-point:nth-child(3) {
            width: 15%;
            text-align: center;
          }
          .titles-point:nth-child(4) {
            width: 15%;
            text-align: center;
          }
          .titles-point:nth-child(5) {
            width: 15%;
            text-align: center;
          }
          .titles-point:last-child {
            width: 5%;
          }
        }
        .cart-block {
          margin: 0 auto;
          width: 100%;
          min-height: auto; // $cart-item-height;
          @include flex-vertical();

          .cart-list {
            margin: 0 auto;
            margin-top: 10px;
            width: 100%;
            height: auto;
            @include flex-vertical();
            justify-content: flex-start;
            background-color: $color-background-dark;
            .cart-item {
              margin: 0 auto;
              margin-bottom: 10px;
              width: 100%;
              min-height: $cart-item-height;
              @include flex-horizontal();
              justify-content: space-between;
              border: 1px solid $color-grey;
              .image-box {
                margin: 0;
                width: 15%;
                height: auto;
                @include flex-vertical();
                @media only screen and (max-width: 1023px) {
                  display: none;
                }
                img {
                  margin: 0 auto;
                  align-items: center;
                  width: 100%;
                  height: auto;
                }
              }
              .name-box {
                margin: 0 auto;
                padding-left: 10px;
                width: 35%;
                @media only screen and (max-width: 1023px) {
                  width: 40%;
                }
                @include flex-vertical();
                &__name {
                  margin-bottom: 10px;
                  padding-left: 10px;
                  padding-right: 10px;
                  @media only screen and (max-width: 1023px) {
                    padding-left: 5px;
                    padding-right: 5px;
                  }
                  @include text-font(18px, 400, 18px, 0%);
                  text-align: left;
                  color: $color-white;
                }
                &__weight {
                  padding-left: 10px;
                  @include font-description();
                  text-align: left;
                  color: $color-white;
                }
              }
              .price-box {
                margin: 0 auto;
                width: 15%;
                height: inherit;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                @media only screen and (max-width: 1023px) {
                  display: none;
                }
                .price-origin-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  .price-origin {
                    margin: 0 auto;
                    @include text-font(18px, 400, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey-middle;
                  }
                  .currency {
                    margin: 0 auto;
                    @include text-font(18px, 400, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey-middle;
                  }
                }
                .price-active-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  .price-active {
                    margin: 0 auto;
                    @include text-font(22px, 400, 22px, 0%);
                    text-align: center;
                    color: $color-white;
                  }
                  .currency {
                    margin: 0 auto;
                    @include text-font(22px, 400, 22px, 0%);
                    text-align: center;
                    color: $color-white;
                  }
                }
              }
              .counter-box {
                margin: 0 auto;
                width: 15%;
                @media only screen and (max-width: 1023px) {
                  width: 20%;
                }
                height: inherit;
                @include flex-vertical();
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .counter-minus {
                    width: 25%;
                    @include font-mix();
                    color: $color-white;
                    background-color: $color-background-dark;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-value {
                    width: 50%;
                    @include font-mix();
                    text-align: center;
                    color: $color-white;
                    background-color: $color-background;
                    border: none;
                  }
                  .counter-plus {
                    width: 25%;
                    @include font-mix();
                    color: $color-white;
                    background-color: $color-background-dark;
                    border: none;
                    cursor: pointer;
                  }
                }
              }

              .total-box {
                margin: 0 auto;
                width: 15%;
                @media only screen and (max-width: 1023px) {
                  width: 35%;
                }
                height: inherit;
                @include flex-vertical();
                @include font-price();
                color: $color-white;
                .total-origin-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  //display: none;
                  .total-origin {
                    margin: 0 auto;
                    @include text-font(18px, 400, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey-middle;
                  }
                  .currency {
                    margin: 0 auto;
                    @include text-font(18px, 400, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey-middle;
                  }
                }
                .total-active-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  @include font-price();
                  @include text-font(22px, 600, 22px, 0%);
                  text-align: center;
                  color: $color-white;
                  .total-active {
                    margin: 0 auto;
                    @include font-price();
                    @include text-font(22px, 600, 22px, 0%);
                    text-align: center;
                    color: $color-white;
                  }
                  .currency {
                    margin: 0 auto;
                    @include font-price();
                    @include text-font(22px, 600, 22px, 0%);
                    text-align: center;
                    color: $color-white;
                  }
                }
              }
              .button-box {
                margin: 0 auto;
                width: 5%;
                height: inherit;
                @include flex-vertical();
                .button-delete {
                  margin: 0 auto;
                  padding: 0;
                  width: 100%;
                  @include font-price();
                  color: $color-banner;
                  background-color: $color-background-dark;
                  border: none;
                  cursor: pointer;
                  img {
                    margin: 0 auto;
                  }
                }
              }
            }
          }
          .cart-promocode {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            min-height: $input-height;
            @include flex-horizontal();
            justify-content: flex-end;
            .promocode-input {
              margin: 0;
              width: 15%;
              min-height: $input-height;
              @include flex-vertical();
              &__label {
                @include font-description();
                text-transform: uppercase;
                color: $color-white;
              }
              &__field {
                margin-top: 10px;
                width: 100%;
                height: $input-height;
                background-color: $color-grey-light;
              }
            }
            .promocode-button {
              margin: 0;
              padding-left: 20px;
              width: 20%;
              min-height: $input-height;
              @include flex-vertical();
              justify-content: flex-end;
              .button-apply {
                width: 70%;
                height: $input-height;
                @include font-description();
                color: $color-button-to-cart;
                text-transform: uppercase;
                background-color: $color-background-dark;
                border: 1px solid $color-button-to-cart;
              }
            }
          }
          .cart-total {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            min-height: $input-height;
            @include flex-horizontal();
            justify-content: flex-end;
            .total-block {
              margin: 0;
              width: 35%;
              @media only screen and (max-width: 1023px) {
                min-width: 50%;
              }
              min-height: $input-height;
              @include flex-vertical();
              .total-input {
                margin: 0;
                width: auto;
                height: fit-content;
                @include flex-horizontal();
                justify-content: flex-start;
                align-items: flex-end;
                &__label {
                  margin-right: 20px;
                  @include font-description();
                  text-transform: uppercase;
                  color: $color-white;
                }
                &__value {
                  margin-top: 10px;
                  padding: 0;
                  height: fit-content;
                  @include font-price();
                  text-align: center;
                  background-color: $color-background;
                  color: $color-white;
                  border: none;
                }
                &__currency {
                  margin-left: 10px;
                  @include font-price();
                  font-weight: 300;
                  color: $color-white;
                }
              }
              .total-button {
                margin: 0;
                margin-top: 40px;
                width: 100%;
                min-height: $input-height;
                @include flex-horizontal();
                justify-content: flex-start;
                @media only screen and (max-width: 1023px) {
                  justify-content: flex-end;
                }
                align-self: flex-start;
                .button-apply {
                  width: 150px;
                  height: $input-height;
                  @include font-description();
                  color: $color-button-to-cart;
                  text-transform: uppercase;
                  background-color: $color-background-dark;
                  border: 1px solid $color-button-to-cart;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
