@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

.header-alt {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
.header-alt__block {
  margin: 0 auto;
  width: 93.75%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid red;
}
.header-alt__block__logo {
  margin: 0 auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid green;
}
.header-alt__block__logo .logo-box {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 2px solid red;
}
.header-alt__block__logo .logo-box .logo-link {
  margin: auto;
  height: auto;
  width: 100%;
}
.header-alt__block__logo .logo-box .logo-link .logo-image {
  margin: auto;
  height: auto;
  width: 100%;
}
.header-alt__block__navigation {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid yellowgreen;
}
.header-alt__block__navigation .nav-box {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px solid red;
}
.header-alt__block__navigation .nav-box .nav-item {
  margin: auto;
  width: auto;
  max-width: 12%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid yellow;
}
.header-alt__block__navigation .nav-box .nav-item .nav-text {
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
}
.header-alt__block__services {
  margin: 0 auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid green;
}
.header-alt__block__services .services-box {
  margin: 0 auto;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  border: 2px solid red;
}
.header-alt__block__services .services-box .service-link {
  margin: auto;
  margin-left: 30px;
  width: 100%;
  height: auto;
}
.header-alt__block__services .services-box .service-link .service-image {
  margin: auto;
  width: 100%;
  height: auto;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
header .header-block {
  margin: 0 auto;
  width: 93.75%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__logo {
  margin: 0 auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__logo .logo-box {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .header-block__logo .logo-box a {
  margin: auto;
  height: auto;
  width: 100%;
}
header .header-block__logo .logo-box a img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}
header .header-block__navigation {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__navigation .nav-box {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__navigation .nav-box .nav-item {
  margin: 0 auto;
  width: auto;
  max-width: 12%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__navigation .nav-box .nav-item__text {
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__text:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item .promo:hover {
  color: #b70000;
}
header .header-block__navigation .nav-box .nav-item__image {
  margin: 0 auto;
  height: 80%;
}
header .header-block__navigation .nav-box .nav-item__button-box {
  margin: auto 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
header .header-block__navigation .nav-box .nav-item__button-box__button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__button-box__content {
  position: absolute;
  left: 0;
  margin-top: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: auto;
  background-color: #040e1f;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list {
  list-style-type: none;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
}
header .header-block__navigation .nav-box .nav-item__button-box__content__list__row__link:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item__button-box__button:hover {
  color: #fbd13e;
}
header .header-block__navigation .nav-box .nav-item__button-box:hover .nav-item__button-box__content {
  display: block;
}
header .header-block__services {
  margin: 0 auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__services .services-box {
  margin: 0 auto;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
header .header-block__services .services-box .service-link {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
header .header-block__services .services-box .service-link .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
header .header-block__services .services-box .service-link:hover img {
  background-color: #fbd13e;
}
header .header-block__services .services-box .cart-btn {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
}
header .header-block__services .services-box .cart-btn .service-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
header .header-block__services .services-box .cart-btn .cart-num {
  position: absolute;
  background-color: #d62240;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  top: 15px;
}/*# sourceMappingURL=headerTest.css.map */