@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      justify-content: flex-start;
      .search-block {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 30px; // fit-content;
        //border: 1px solid yellowgreen;
        @include flex-vertical();

        .search-box {
          margin: 0 auto;
          width: inherit;
          height: inherit;
          @include flex-horizontal();
          justify-content: flex-end;
          display: none;
        }
        .search-input {
          padding-left: 10px;
          width: 30%;
          height: 30px;
          background-color: $color-grey-light;
          border: none;
          //border-radius: 3px;
          outline: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search-input::placeholder {
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
        }
        .search-button {
          margin-left: 3px;
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-grey-light;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .clear {
          margin-left: 0;
          background-color: $color-grey-light;
          color: $color-button-to-cart;
          outline-color: white;
          @include text-font(18px, 400, 18px, 0%);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .search-close {
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-banner;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .search-button:hover {
          color: $color-button-to-cart;
        }
        .search-close:hover {
          color: $color-button-to-cart;
        }
      }
      .order {
        margin: 40px auto;
        width: 100%;
        min-height: $input-height;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 1023px) {
          @include flex-vertical();
          //flex-direction: column-reverse;
        }
        &__checkout {
          margin: 0 auto;
          width: 45%; // 50%;
          height: auto;
          @include flex-vertical();
          justify-content: flex-start;
          @media only screen and (max-width: 1023px) {
            width: 100%;
          }
          &__heading {
            margin: 0 auto;
            width: 100%;
            @include head-1();
            @media only screen and (max-width: 1023px) {
              @include head-2();
              text-align: left;
            }
            text-align: left;
            color: $color-white;
          }
          .crumbs {
            margin: 0;
            max-width: $block-width;
            @include flex-horizontal();
            justify-content: flex-start;
            flex-wrap: wrap;
            &__link {
              margin-left: 10px;
              text-decoration: none;
              text-align: left;
              @include font-menu();
              color: $color-grey-middle;
            }
            &__link:hover {
              text-decoration: underline;
            }
            &__link:first-child {
              font-weight: 600;
            }
          }
          &__contacts {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            min-height: $input-height;
            @include flex-vertical();
            justify-content: flex-start;
            &__heading {
              margin: 0;
              @include head-3();
              text-align: left;
              color: $color-white;
            }
            &__form {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              min-height: $input-height;
              @include flex-vertical();
              &__info {
                margin: 0 auto 0 50%;
                width: 50%;
                @media only screen and (max-width: 1023px) {
                  margin: 0;
                  width: 100%;
                }
                @include flex-horizontal();
                justify-content: flex-end;
                @include font-menu();
                color: $color-white;
              }
              &__input {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
                height: $input-height;
                @include flex-horizontal();
                justify-content: space-between;
                @media only screen and (max-width: 1023px) {
                  @include flex-vertical();
                }
                &__username {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__userphone {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__useremail {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__persons {
                  padding-left: 10px;
                  width: 50%; // 15%;
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__label {
                  width: 48%;
                  @media only screen and (max-width: 1023px) {
                    margin-bottom: 10px;
                    width: 100%;
                  }
                  margin-right: 20px;
                  @include flex-vertical();
                  &__text {
                    @include font-menu();
                    text-align: right;
                    @media only screen and (max-width: 1023px) {
                      text-align: left;
                    }
                    color: $color-white;
                    text-transform: uppercase;
                  }
                }
              }
              .number {
                justify-content: flex-start;
              }
            }
          }
          &__delivery {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            min-height: $input-height;
            @include flex-vertical();
            justify-content: flex-start;
            &__heading {
              margin: 0;
              @include head-3();
              text-align: left;
              color: $color-white;
            }
            &__info {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              height: 0.4 * $banner-height;
              @include flex-horizontal();
              justify-content: space-between;
              @media only screen and (max-width: 1023px) {
                height: auto;
                @include flex-vertical();
              }
              &__courier {
                margin: 0 auto;
                padding-left: 10px;
                width: 45%;
                @media only screen and (max-width: 1023px) {
                  padding: 0 0 20px 10px;
                  width: 100%;
                }
                height: inherit;
                @include flex-horizontal();
                justify-content: space-between;
                border: 1px dotted $color-grey-middle;
                border-radius: 3px;
                @include font-menu();
                color: $color-white;
                &__text-box {
                  margin: 0;
                  width: 70%;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: flex-start;
                  &__link {
                    margin: 0;
                    margin-top: 20px;
                    width: 100%;
                    height: 20%;
                    @include font-mix();
                    text-decoration: none;
                    color: $color-white;
                    cursor: pointer;
                  }
                  &__info {
                    margin: 0;
                    margin-top: 20px;
                    width: 100%;
                    height: 80%;
                  }
                }
                &__price-box {
                  margin: 0;
                  width: 30%;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: flex-start;
                  &__price {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100%;
                    height: 20%;
                    @include font-mix();
                    text-align: center;
                    color: $color-white;
                  }
                  &__plus {
                    margin: 0 auto;
                    width: $button-to-cart-size;
                    height: $button-to-cart-size;
                    @include font-mix();
                    color: red;
                    background-color: $color-background;
                    border: none;
                    cursor: pointer;
                  }
                }
              }
              &__courier:hover {
                border-color: $color-button-to-cart;
              }
              &__pickup {
                margin: 0 auto;
                padding-left: 10px;
                width: 45%;
                @media only screen and (max-width: 1023px) {
                  margin-top: 20px;
                  padding: 0 0 20px 10px;
                  width: 100%;
                }
                height: inherit;
                @include flex-horizontal();
                justify-content: space-between;
                border: 1px dotted $color-grey-middle;
                border-radius: 3px;
                @include font-menu();
                color: $color-white;
                &__text-box {
                  margin: 0;
                  width: 70%;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: flex-start;
                  &__link {
                    margin: 0;
                    margin-top: 20px;
                    width: 100%;
                    height: 20%;
                    @include font-mix();
                    text-decoration: none;
                    color: $color-white;
                    cursor: pointer;
                  }
                  &__info {
                    margin: 0;
                    margin-top: 20px;
                    width: 100%;
                    height: 80%;
                  }
                }
                &__price-box {
                  margin: 0;
                  width: 30%;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: flex-start;
                  &__price {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100%;
                    height: 20%;
                    @include font-mix();
                    text-align: center;
                    color: $color-white;
                  }
                  &__plus {
                    margin: 0 auto;
                    width: $button-to-cart-size;
                    height: $button-to-cart-size;
                    @include font-mix();
                    color: red;
                    background-color: $color-background;
                    border: none;
                    cursor: pointer;
                  }
                }
              }
              &__pickup:hover {
                border-color: $color-button-to-cart;
              }
            }
            &__form {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              min-height: $input-height;
              @include flex-vertical();
              &__info {
                margin: 0 auto 0 50%;
                width: 50%;
                @media only screen and (max-width: 1023px) {
                  margin: 0;
                  width: 100%;
                }
                @include flex-horizontal();
                justify-content: flex-start;
                @include font-menu();
                color: $color-white;
              }
              &__input {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
                min-height: $input-height;
                @include flex-horizontal();
                justify-content: flex-end;
                @media only screen and (max-width: 1023px) {
                  @include flex-vertical();
                  width: 100%;
                }
                &__userlocality {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__userstreet {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__house-flat {
                  padding-left: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $input-height;
                  @include font-description();
                  @include flex-horizontal();
                  justify-content: flex-end;
                  @media only screen and (max-width: 1023px) {
                    justify-content: space-between;
                  }
                  &__userhouse {
                    padding-left: 10px;
                    width: 50%;
                    height: $input-height;
                    @include font-description();
                    color: $color-black;
                    border: none;
                    border-radius: 3px;
                  }
                  &__userflat {
                    padding-left: 10px;
                    width: 50%;
                    height: $input-height;
                    @include font-description();
                    color: $color-black;
                    border: none;
                    border-radius: 3px;
                  }
                  &__label {
                    width: 48%;
                    margin-right: 20px;
                    @include flex-vertical();

                    &__text {
                      @include font-menu();
                      text-align: right;
                      @media only screen and (max-width: 1023px) {
                        width: 45%;
                        padding-left: 20px;
                      }
                      color: $color-white;
                      text-transform: uppercase;
                    }
                  }
                }

                &__comments {
                  padding: 10px;
                  width: 50%;
                  @media only screen and (max-width: 1023px) {
                    width: 100%;
                  }
                  height: $textarea-height;
                  @include font-description();
                  color: $color-black;
                  border: none;
                  border-radius: 3px;
                }
                &__label {
                  width: 48%;
                  @media only screen and (max-width: 1023px) {
                    margin-bottom: 10px;
                    width: 100%;
                  }
                  margin-right: 20px;
                  @include flex-vertical();
                  &__text {
                    @include font-menu();
                    text-align: right;
                    @media only screen and (max-width: 1023px) {
                      text-align: left;
                    }
                    color: $color-white;
                    text-transform: uppercase;
                  }
                }
              }
              .number {
                justify-content: flex-start;
              }
            }
          }
          &__payment {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            min-height: $payment-type-height;
            @include flex-vertical();
            //@include flex-horizontal();
            justify-content: flex-start;
            &__heading {
              margin: 0;
              @include head-3();
              text-align: left;
              color: $color-white;
            }
            &__type {
              margin: 0 auto;
              margin-top: 20px;
              width: 100%;
              height: $payment-type-height;
              @media only screen and (max-width: 1023px) {
                margin-top: 20px;
                height: $payment-type-height * 0.6;
              }
              @include flex-vertical();
              border: 1px dotted $color-grey-middle;
              border-radius: 3px;
              &__box {
                margin: 0 auto;
                width: 90%;
                height: 70%; // 60%;
                @include flex-horizontal();
                justify-content: flex-start;
                //border: 2px solid orange;
                input {
                  margin: auto 0;
                  width: 20px;
                  height: 20px;
                }
                &__card-label {
                  margin: 0 auto;
                  margin-left: 20px;
                  width: auto;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: space-between;
                  @media only screen and (max-width: 1023px) {
                    justify-content: space-around;
                  }
                  &__text {
                    margin: 0;
                    @include font-mix();
                    color: $color-white;
                    @media only screen and (max-width: 1023px) {
                      @include text-font(16px, 400, 16px, 0%);
                    }
                  }
                  .only {
                    margin: auto 0;
                    @include font-mix();
                    color: $color-white;
                  }
                  &__images {
                    margin: 0 auto;
                    @include flex-horizontal();
                    justify-content: space-between;
                    img {
                      margin-right: 20px;
                      height: $payment-icon-height;
                      width: auto;
                      @media only screen and (max-width: 1023px) {
                        margin: auto;
                        height: fit-content;
                        width: 15%;
                      }
                    }
                  }
                }
              }
            }
            &__type:hover {
              border: 1px dotted $color-button-to-cart;
            }
            &__button {
              margin: 0;
              margin-top: 20px;
              margin-bottom: 20px;
              &__confirm {
                width: $button-confirm-maket-width;
                height: $button-to-cart-size + 10px;
                @include font-description();
                font-weight: 700;
                text-transform: uppercase;
                color: $color-black;
                background-color: $color-button-to-cart;
                border-radius: 3px;
                cursor: pointer;
              }
            }
          }
        }
        &__cart {
          margin: 0 auto;
          width: 38%; // 48%;
          @media only screen and (max-width: 1023px) {
            width: 100%;
          }
          height: auto;
          @include flex-vertical();
          justify-content: flex-start;
          &__block {
            margin: 0 auto;
            margin-top: 10px;
            width: 100%;
            min-height: $item-order-height;
            @include flex-horizontal();
            justify-content: space-between;
            background-color: $color-background-dark;
            &__props {
              margin: 0 auto;
              width: 100%;
              min-height: $item-order-height;
              @include flex-vertical();
              justify-content: center;
              &__item {
                margin: 0 auto;
                margin-bottom: 10px;
                //padding: 10px 0 10px 0;
                width: 100%;
                @include flex-horizontal();
                justify-content: space-between;
                border: 1px solid $color-grey-middle;
                border-radius: 3px;
                &__image {
                  margin: 0;
                  width: 15%;
                  @include flex-vertical();
                  @media only screen and (max-width: 1023px) {
                    display: none;
                  }
                  img {
                    width: auto; // $item-order-height;
                  }
                }
                &__name-box {
                  margin: 0 auto;
                  width: 40%;
                  @include flex-vertical();
                  &__name {
                    @include font-menu();
                    text-align: left;
                    color: $color-white;
                  }
                  &__weight {
                    @include font-description();
                    text-align: left;
                    color: $color-white;
                  }
                }
                &__counter-box {
                  margin: 0 auto;
                  width: 15%;
                  height: inherit;
                  @include flex-vertical();
                  .counter {
                    margin: 0 auto;
                    width: 75%;
                    height: fit-content;
                    vertical-align: middle;
                    @include flex-horizontal();
                    &__minus {
                      width: 25%;
                      @include font-mix();
                      color: $color-white;
                      background-color: $color-background-dark;
                      cursor: pointer;
                      display: none;
                    }
                    &__value {
                      width: 50%;
                      @include font-banner();
                      text-align: center;
                      color: $color-white;
                      background-color: $color-background;
                      border: none;
                    }
                    &__plus {
                      width: 25%;
                      @include font-mix();
                      color: $color-white;
                      background-color: $color-background-dark;
                      cursor: pointer;
                      display: none;
                    }
                  }
                }
                &__total-box {
                  margin: 0 auto;
                  width: 20%;
                  height: inherit;
                  @include flex-vertical();
                  @include font-price();
                  color: $color-white;
                  &__origin {
                    @include text-font(14px, 400, 14px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey-middle;
                    display: none;
                  }
                  &__active {
                    @include font-banner();
                    text-align: center;
                    color: $color-white;
                  }
                }
              }
            }
          }
          &__total {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            height: $item-order-height;
            @include flex-horizontal();
            justify-content: flex-end;
            &__block {
              margin: 0;
              width: 35%;
              @media only screen and (max-width: 1023px) {
                padding-right: 10px;
                width: 100%;
              }
              height: $item-order-height;
              @include flex-vertical();
              &__input {
                margin: 0;
                width: auto;
                height: fit-content;
                @include flex-horizontal();
                justify-content: flex-start;
                @media only screen and (max-width: 1023px) {
                  justify-content: flex-end;
                  width: 100%;
                }
                align-items: flex-end;
                &__label {
                  margin-right: 20px;
                  @include font-description();
                  text-transform: uppercase;
                  color: $color-white;
                }
                &__value {
                  margin-top: 10px;
                  padding: 0;
                  height: fit-content;
                  @include font-price();
                  text-align: center;
                  background-color: $color-background;
                  color: $color-white;
                  border: none;
                }
                &__currency {
                  margin-left: 10px;
                  @include font-price();
                  font-weight: 300;
                  color: $color-white;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
