@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
header .header-block {
  margin: 0 auto;
  width: 93.75%;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__logo {
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__services {
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__services__service {
  margin-left: 30px;
  height: inherit;
  cursor: pointer;
}
header .header-block__services__service:hover img {
  background-color: #fbd13e;
}
header .header-block__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__navigation__nav-item {
  margin: 0 auto;
  margin-left: 30px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
header .header-block__navigation__nav-item__text:hover {
  color: #fbd13e;
}
header .header-block__navigation__nav-item .promo:hover {
  color: #b70000;
}
header .header-block__navigation__nav-item__image {
  margin: 0 auto;
  margin-left: 10px;
  height: 80%;
}
header .header-block__navigation__nav-item__button {
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
footer .footer-top {
  margin: 0 auto;
  width: 93.75%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-top__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-top__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-top__left__box__logo {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
footer .footer-top__left__box__logo img {
  height: inherit;
}
footer .footer-top__left__box__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-top__left__box__navigation__nav-item {
  margin: 0 auto;
  margin-left: 20px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-top__left__box__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
footer .footer-top__left__box__navigation__nav-item__text:hover {
  color: #fbd13e;
}
footer .footer-top__left__box__navigation__nav-item .last {
  margin-right: 20px;
}
footer .footer-top__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-top__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
footer .footer-top__right__box__contacts {
  margin: 0 auto;
}
footer .footer-top__right__box__contacts__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
footer .footer-top__right__box__contacts .email:hover {
  color: #fbd13e;
}
footer .footer-bottom {
  margin: 0 auto;
  width: 93.75%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-bottom__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-bottom__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
footer .footer-bottom__left__box__copyrights {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
}
footer .footer-bottom__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-bottom__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
footer .footer-bottom__right__box__roles {
  margin: 0 auto;
}
footer .footer-bottom__right__box__roles__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #fbd13e;
}
footer .footer-bottom__right__box__roles__text:hover {
  color: #b70000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #051329;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 93.75%;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block__logo {
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__services {
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__services__service {
  margin-left: 30px;
  height: inherit;
  cursor: pointer;
}
.wrapper .top header .header-block__services__service:hover img {
  background-color: #fbd13e;
}
.wrapper .top header .header-block__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__navigation__nav-item {
  margin: 0 auto;
  margin-left: 30px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper .top header .header-block__navigation__nav-item__text:hover {
  color: #fbd13e;
}
.wrapper .top header .header-block__navigation__nav-item .promo:hover {
  color: #b70000;
}
.wrapper .top header .header-block__navigation__nav-item__image {
  margin: 0 auto;
  margin-left: 10px;
  height: 80%;
}
.wrapper .top header .header-block__navigation__nav-item__button {
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper .top main {
  margin: 0 auto;
  width: 93.75%;
  min-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid orange;
}
.wrapper .top main .order {
  margin: 0 auto;
  width: 100%;
  min-height: 42px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px solid yellowgreen;
}
.wrapper .top main .order__checkout {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__heading {
  margin: 0 auto;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__checkout .crumbs {
  margin: 0;
  max-width: 93.75%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper .top main .order__checkout .crumbs__link {
  margin-left: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #b8b8b8;
}
.wrapper .top main .order__checkout .crumbs__link:hover {
  text-decoration: underline;
}
.wrapper .top main .order__checkout .crumbs__link:first-child {
  font-weight: 600;
}
.wrapper .top main .order__checkout__contacts {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid violet;
}
.wrapper .top main .order__checkout__contacts__heading {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__checkout__contacts__form {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__contacts__form__info {
  margin: 0 auto 0 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid blue;
}
.wrapper .top main .order__checkout__contacts__form__input {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .order__checkout__contacts__form__input__username {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__contacts__form__input__userphone {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__contacts__form__input__useremail {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__contacts__form__input__persons {
  width: 15%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__contacts__form__input__label {
  width: 48%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .order__checkout__contacts__form__input__label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper .top main .order__checkout__contacts__form .number {
  justify-content: flex-start;
}
.wrapper .top main .order__checkout__delivery {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid violet;
}
.wrapper .top main .order__checkout__delivery__heading {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__checkout__delivery__info {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 143.2px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px solid red;
}
.wrapper .top main .order__checkout__delivery__info__courier {
  margin: 0 auto;
  width: 45%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px dotted #fbd13e;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__delivery__info__courier__text-box {
  margin: 0;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid yellow;
}
.wrapper .top main .order__checkout__delivery__info__courier__text-box__link {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.wrapper .top main .order__checkout__delivery__info__courier__text-box__info {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  height: 80%;
}
.wrapper .top main .order__checkout__delivery__info__courier__price-box {
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid yellowgreen;
}
.wrapper .top main .order__checkout__delivery__info__courier__price-box__price {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.wrapper .top main .order__checkout__delivery__info__courier__price-box__plus {
  margin: 0 auto;
  width: 42px;
  height: 42px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: red;
  background-color: #051329;
  border: none;
  cursor: pointer;
}
.wrapper .top main .order__checkout__delivery__info__pickup {
  margin: 0 auto;
  width: 45%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px dotted #fbd13e;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__delivery__info__pickup__text-box {
  margin: 0;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid yellow;
}
.wrapper .top main .order__checkout__delivery__info__pickup__text-box__link {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.wrapper .top main .order__checkout__delivery__info__pickup__text-box__info {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  height: 80%;
}
.wrapper .top main .order__checkout__delivery__info__pickup__price-box {
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid yellowgreen;
}
.wrapper .top main .order__checkout__delivery__info__pickup__price-box__price {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.wrapper .top main .order__checkout__delivery__info__pickup__price-box__plus {
  margin: 0 auto;
  width: 42px;
  height: 42px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: red;
  background-color: #051329;
  border: none;
  cursor: pointer;
}
.wrapper .top main .order__checkout__delivery__form {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__delivery__form__info {
  margin: 0 auto 0 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top main .order__checkout__delivery__form__input {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  min-height: 42px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top main .order__checkout__delivery__form__input__userlocality {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__delivery__form__input__userstreet {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__delivery__form__input__house-flat {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top main .order__checkout__delivery__form__input__house-flat__userhouse {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__delivery__form__input__house-flat__userflat {
  width: 50%;
  height: 42px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__delivery__form__input__house-flat__label {
  width: 48%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .order__checkout__delivery__form__input__house-flat__label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper .top main .order__checkout__delivery__form__input__comments {
  width: 50%;
  height: 96px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__checkout__delivery__form__input__label {
  width: 48%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .order__checkout__delivery__form__input__label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper .top main .order__checkout__delivery__form .number {
  justify-content: flex-start;
}
.wrapper .top main .order__checkout__payment {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid violet;
}
.wrapper .top main .order__checkout__payment__heading {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__checkout__payment__type {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px dotted #b8b8b8;
}
.wrapper .top main .order__checkout__payment__type__box {
  margin: 0 auto;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid green;
}
.wrapper .top main .order__checkout__payment__type__box input {
  margin: auto 0;
  width: 20px;
  height: 20px;
  border: 1px solid orange;
}
.wrapper .top main .order__checkout__payment__type__box__card-label {
  margin: 0 auto;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px solid orchid;
}
.wrapper .top main .order__checkout__payment__type__box__card-label__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top main .order__checkout__payment__type__box__card-label .only {
  margin: auto 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top main .order__checkout__payment__type__box__card-label__images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .order__checkout__payment__type__box__card-label__images img {
  margin-right: 20px;
  height: 24px;
  width: auto;
}
.wrapper .top main .order__checkout__payment__type:hover {
  border: 1px dotted #fbd13e;
}
.wrapper .top main .order__checkout__payment__button {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper .top main .order__checkout__payment__button__confirm {
  width: 234px;
  height: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #fbd13e;
}
.wrapper .top main .order__cart {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid blue;
}
.wrapper .top main .order__cart__block {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #040e1f;
  border: 1px solid green;
}
.wrapper .top main .order__cart__block__props {
  margin: 0 auto;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid blue;
}
.wrapper .top main .order__cart__block__props__item {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .order__cart__block__props__item__image {
  margin: 0;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid yellow;
}
.wrapper .top main .order__cart__block__props__item__image img {
  width: 100px;
}
.wrapper .top main .order__cart__block__props__item__name-box {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid orange;
}
.wrapper .top main .order__cart__block__props__item__name-box__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__cart__block__props__item__name-box__weight {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.wrapper .top main .order__cart__block__props__item__counter-box {
  margin: 0 auto;
  width: 15%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid orange;
}
.wrapper .top main .order__cart__block__props__item__counter-box .counter {
  margin: 0 auto;
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid orange;
}
.wrapper .top main .order__cart__block__props__item__counter-box .counter__minus {
  width: 25%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #040e1f;
  cursor: pointer;
  display: none;
}
.wrapper .top main .order__cart__block__props__item__counter-box .counter__value {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  background-color: #051329;
  border: none;
}
.wrapper .top main .order__cart__block__props__item__counter-box .counter__plus {
  width: 25%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #040e1f;
  cursor: pointer;
  display: none;
}
.wrapper .top main .order__cart__block__props__item__total-box {
  margin: 0 auto;
  width: 20%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid orange;
}
.wrapper .top main .order__cart__block__props__item__total-box__origin {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  font-style: italic;
  text-decoration: line-through;
  text-align: center;
  color: #b8b8b8;
  display: none;
}
.wrapper .top main .order__cart__block__props__item__total-box__active {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.wrapper .top main .order__cart__total {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  border: 1px solid yellowgreen;
}
.wrapper .top main .order__cart__total__block {
  margin: 0;
  width: 35%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid orange;
}
.wrapper .top main .order__cart__total__block__input {
  margin: 0;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid green;
  align-items: flex-end;
}
.wrapper .top main .order__cart__total__block__input__label {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper .top main .order__cart__total__block__input__value {
  margin-top: 10px;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #051329;
  color: #ffffff;
  border: none;
}
.wrapper .top main .order__cart__total__block__input__currency {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 300;
  color: #ffffff;
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #040e1f;
}
.wrapper footer .footer-top {
  margin: 0 auto;
  width: 93.75%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-top__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-top__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-top__left__box__logo {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-top__left__box__logo img {
  height: inherit;
}
.wrapper footer .footer-top__left__box__navigation {
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-top__left__box__navigation__nav-item {
  margin: 0 auto;
  margin-left: 20px;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-top__left__box__navigation__nav-item__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper footer .footer-top__left__box__navigation__nav-item__text:hover {
  color: #fbd13e;
}
.wrapper footer .footer-top__left__box__navigation__nav-item .last {
  margin-right: 20px;
}
.wrapper footer .footer-top__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-top__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-top__right__box__contacts {
  margin: 0 auto;
}
.wrapper footer .footer-top__right__box__contacts__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.wrapper footer .footer-top__right__box__contacts .email:hover {
  color: #fbd13e;
}
.wrapper footer .footer-bottom {
  margin: 0 auto;
  width: 93.75%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-bottom__left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__left__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-bottom__left__box__copyrights {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #ffffff;
}
.wrapper footer .footer-bottom__right {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__right__box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-bottom__right__box__roles {
  margin: 0 auto;
}
.wrapper footer .footer-bottom__right__box__roles__text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
  color: #fbd13e;
}
.wrapper footer .footer-bottom__right__box__roles__text:hover {
  color: #b70000;
}/*# sourceMappingURL=order.css.map */