@import "../../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}

@mixin header {
  margin: 0 auto;
  width: $site-width;
  height: $header-height;
  @include flex-vertical();
  background-color: $color-background-dark;
  .header-block {
    margin: 0 auto;
    width: $block-width;
    height: $menu-height;
    @include flex-horizontal();
    justify-content: space-between;
    &__logo {
      margin: 0 auto;
      height: 80%;
      @include flex-vertical();
    }
    &__services {
      margin: 0 auto;
      height: inherit;
      @include flex-horizontal();
      &__service {
        margin-left: 30px;
        height: inherit;
        cursor: pointer;
      }
      &__service:hover {
        img {
          background-color: $color-button-to-cart;
        }
      }
    }
    &__navigation {
      margin: 0 auto;
      height: $menu-height;
      @include flex-horizontal();
      &__nav-item {
        margin: 0 auto;
        margin-left: 30px;
        height: inherit;
        @include flex-horizontal();
        &__text {
          margin: 0 auto;
          @include flex-vertical();
          @include font-menu();
          text-decoration: none;
          cursor: pointer;
          color: $color-white;
        }
        &__text:hover {
          color: $color-button-to-cart;
        }
        .promo:hover {
          color: $color-banner;
        }
        &__image {
          margin: 0 auto;
          margin-left: 10px;
          height: 80%;
        }
        &__button {
          margin: 0 auto;
          margin-left: 10px;
          @include flex-vertical();
          @include font-mix();
          text-decoration: none;
          cursor: pointer;
          color: $color-white;
        }
      }
    }
  }
}

header {
  @include header();
}

// header {
//   margin: 0 auto;
//   width: $site-width;
//   height: $header-height;
//   @include flex-vertical();
//   background-color: $color-background-dark;
//   .header-block {
//     margin: 0 auto;
//     width: $block-width;
//     height: $menu-height;
//     @include flex-horizontal();
//     justify-content: space-between;
//     &__logo {
//       margin: 0 auto;
//       height: 80%;
//       @include flex-vertical();
//     }
//     &__services {
//       margin: 0 auto;
//       height: inherit;
//       @include flex-horizontal();
//       &__service {
//         margin-left: 30px;
//         height: inherit;
//         cursor: pointer;
//       }
//       &__service:hover {
//         img {
//           background-color: $color-button-to-cart;
//         }
//       }
//     }
//     &__navigation {
//       margin: 0 auto;
//       height: $menu-height;
//       @include flex-horizontal();
//       &__nav-item {
//         margin: 0 auto;
//         margin-left: 30px;
//         height: inherit;
//         @include flex-horizontal();
//         &__text {
//           margin: 0 auto;
//           @include flex-vertical();
//           @include font-menu();
//           text-decoration: none;
//           cursor: pointer;
//           color: $color-white;
//         }
//         &__text:hover {
//           color: $color-button-to-cart;
//         }
//         .promo:hover {
//           color: $color-banner;
//         }
//         &__image {
//           margin: 0 auto;
//           margin-left: 10px;
//           height: 80%;
//         }
//         &__button {
//           margin: 0 auto;
//           margin-left: 10px;
//           @include flex-vertical();
//           @include font-mix();
//           text-decoration: none;
//           cursor: pointer;
//           color: $color-white;
//         }
//       }
//     }
//   }
// }
