@import "../../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../../assets/font/Montserrat-Black.ttf);
}
@mixin header {
  margin: 0 auto;
  width: $site-width;
  height: $header-height;
  @include flex-vertical();
  background-color: $color-background-dark;
  .header-block {
    margin: 0 auto;
    width: $block-width;
    height: 60%;
    @include flex-horizontal();
    justify-content: space-between;
    position: relative;
    &__logo {
      margin: 0 auto;
      width: 15%;
      @media screen and (max-width: 1023px) {
        width: 30%;
      }
      height: 100%;
      @include flex-vertical();
      .logo-box {
        margin: 0 auto;
        height: 100%;
        @include flex-horizontal();
        justify-content: flex-start;
        a {
          margin: 0 auto;
          height: 100%;
          width: 100%;
          @include flex-vertical();
          img {
            margin: auto;
            height: auto;
            width: 100%;
          }
        }
      }
    }
    &__navigation {
      margin: 0 auto;
      width: 70%;
      @include flex-horizontal();
      @media screen and (max-width: 1023px) {
        display: none;
      }
      .nav-box {
        margin: 0 auto;
        height: auto;
        width: 100%;
        @include flex-horizontal();
        justify-content: space-between;
        .nav-item {
          margin: 0 auto;
          width: auto;
          max-width: 12%;
          height: auto;
          @include flex-horizontal();
          &__text {
            margin: 0 auto;
            width: 100%;
            @include font-menu();
            text-decoration: none;
            cursor: pointer;
            color: $color-white;
          }
          &__text:hover {
            color: $color-button-to-cart;
          }
          .promo:hover {
            color: $color-banner;
          }
          &__image {
            margin: 0 auto;
            height: 80%;
          }
          &__button-box {
            margin: auto 0;
            position: relative;
            display: inline-block;
            z-index: 1;
            &__button {
              margin: 0 auto;
              @include flex-vertical();
              @include font-menu();
              text-decoration: none;
              cursor: pointer;
              color: $color-white;
            }
            &__content {
              position: absolute;
              left: 0;
              margin-top: 5px;
              min-width: fit-content;
              height: auto;
              background-color: $color-background-dark;
              color: $color-black;
              @include flex-vertical();
              display: none;
              &__list {
                list-style-type: none;
                &__row {
                  margin-bottom: 10px;
                  padding-left: 10px;
                  padding-right: 10px;
                  &__link {
                    text-decoration: none;
                    @include font-menu();
                    color: $color-white;
                  }
                  &__link:hover {
                    color: $color-button-to-cart;
                  }
                }
              }
            }
            &__button:hover {
              color: $color-button-to-cart;
            }
          }
          &__button-box:hover .nav-item__button-box__content {
            display: block;
          }
        }
      }
    }
    .menu-mini {
      margin: 0 auto;
      @media screen and (max-width: 1023px) {
        width: 40%;
      }
      height: 100%;
      @include flex-vertical();
      @media screen and (min-width: 1024px) {
        display: none;
      }
      .menu-button {
        margin: 0 auto;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        img {
          height: 60%;
        }
      }
      .menu-mini-box {
        margin: 0 auto;
        padding-top: $header-height * 0.45;
        position: absolute;
        top: $header-height * 0.45;
        left: 0;
        float: right;
        width: 95vw;
        height: auto;
        @include flex-vertical();
        background-color: rgba($color: $color-background-dark, $alpha: 0.9);
        display: none;
        .menu-mini-close {
          margin: auto;
          width: 100%;
          height: fit-content;
          @include flex-horizontal();
          .menu-mini-search {
            margin: 0;
            margin-left: 2%;
            width: 85%;
            height: $input-height;
            @include text-font(16px, 300, 16px, 0%);
            border: $color-grey-middle;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            outline: none;
            background-color: $color-white;
            color: $color-background-dark;
          }
          .menu-mini-search::placeholder {
            padding-left: 10px;
          }
          .button-search {
            margin: 0;
            padding: 0 10px;
            height: $input-height;
            width: auto;
            background-color: $color-white;
            border: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            outline: none;
          }
          .button-close {
            margin: auto 0;
            padding: 0 10px;
            @include text-font(28px, 500, 28px, 0%);
            color: $color-button-to-cart;
            background: none;
            border: none;
            outline: none;
          }
        }
        .menu-mini-item {
          margin: auto;
          padding: 10px 20px;
          width: 80%;
          @include flex-horizontal();
          justify-content: flex-start;
          &__image {
            margin: 0 auto;
            width: 38px;
            height: auto;
            border-radius: 50%;
          }
          &__link {
            margin: 0 auto;
            margin-left: 20px;
            width: 80%;
            @include flex-vertical();
            text-decoration: none;
            text-align: left;
            @include text-font(16px, 400, 16px, 0%);
            color: $color-white;
          }
          &__link:hover {
            color: $color-button-to-cart;
          }
        }
      }
    }
    .menu-mini:hover {
      .menu-mini-box {
        display: flex;
      }
    }
    &__services {
      margin: 0 auto;
      width: 15%;
      @media screen and (max-width: 1023px) {
        width: 30%;
      }
      height: 100%;
      @include flex-vertical();
      .services-box {
        margin: 0 auto;
        height: 100%;
        width: auto;
        @include flex-horizontal();
        justify-content: flex-end;
        .service-link {
          margin: auto;
          margin-right: 20px;
          width: 100%;
          height: auto;
          @include flex-vertical();
          cursor: pointer;
          .service-image {
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
        }
        .service-link:hover {
          img {
            background-color: $color-button-to-cart;
          }
        }
        .cart-btn {
          margin: auto;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          align-items: center;
          width: 100%;
          height: auto;
          position: relative;
          cursor: pointer;
          .service-image {
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
          .cart-num {
            position: absolute;
            background-color: #d62240;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            @include flex-horizontal();
            align-items: center;
            color: $color-white;
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            top: -15px;
            right: -5px;
          }
        }
      }
    }
  }
}

header {
  @include header();
}
