@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/itemBox/itemBox.scss';
@import '../components/modal/modal.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      //@include header();
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $item-height; // $slide-height;
      @include flex-vertical();
      .search-block {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 30px; // fit-content;
        //border: 1px solid yellowgreen;
        @include flex-vertical();

        .search-box {
          margin: 0 auto;
          width: inherit;
          height: inherit;
          @include flex-horizontal();
          justify-content: flex-end;
          display: none;
        }
        .search-input {
          padding-left: 10px;
          width: 30%;
          height: 30px;
          background-color: $color-grey-light;
          border: none;
          //border-radius: 3px;
          outline: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search-input::placeholder {
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
        }
        .search-button {
          margin-left: 3px;
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-grey-light;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .clear {
          margin-left: 0;
          background-color: $color-grey-light;
          color: $color-button-to-cart;
          outline-color: white;
          @include text-font(18px, 400, 18px, 0%);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .search-close {
          width: 30px;
          height: 30px;
          border: none;
          background-color: $color-background;
          outline: none;
          color: $color-banner;
          @include font-mix();
          font-weight: 300;
          cursor: pointer;
        }
        .search-button:hover {
          color: $color-button-to-cart;
        }
        .search-close:hover {
          color: $color-button-to-cart;
        }
      }
      .catalog {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        //border: 2px solid orange;
        &__heading {
          margin: 0 auto;
          //margin-top: 40px;
          width: 100%;
          @include head-1();
          @media only screen and (max-width: 1023px) {
            @include head-2();
            text-align: left;
          }
          text-align: left;
          color: $color-white;
        }
        .crumbs {
          margin: 0;
          margin-top: 20px;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__block {
          margin: 0 auto;
          margin-top: 20px;
          width: 100%;
          @include flex-horizontal();
          justify-content: space-evenly; // space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
.lock {
  overflow-y: hidden;
}
