@use "sass:math";

@import "../vars/vars.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/itemBox/itemBox.scss";
@import "../components/modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../../assets/font/Montserrat-Black.ttf);
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-background;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      //@include header();
      @include header();
    }
    main {
      margin: 0 auto;
      width: $block-width;
      min-height: $slide-height;
      @include flex-vertical();
      .catalog {
        margin: 0 auto;
        width: 100%;
        min-height: $item-height;
        @include flex-vertical();
        &__heading {
          margin: 0 auto;
          margin-top: 40px;
          width: 100%;
          @include head-1();
          @media only screen and (max-width: 1023px) {
            @include head-2();
            text-align: left;
          }
          text-align: left;
          color: $color-white;
        }
        .crumbs {
          margin: 0;
          max-width: $block-width;
          @include flex-horizontal();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__link {
            margin-left: 10px;
            text-decoration: none;
            text-align: left;
            @include font-menu();
            color: $color-grey-middle;
          }
          &__link:hover {
            text-decoration: underline;
          }
          &__link:first-child {
            font-weight: 600;
          }
        }
        &__block {
          margin: 0 auto;
          width: 100%;
          @include flex-horizontal();
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
.lock {
  overflow-y: hidden;
}
