<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../../styles/components/header/header.css" />
  </head>
  <body>
    <header>
      <div class="header-block">
        <section>
          <div class="header-block__logo">
            <img src="../../assets/logo/logo2.png" alt="logo" />
          </div>
        </section>
        <nav>
          <div class="header-block__navigation">
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text promo" href="#"
                >PROMO</a
              >
              <img
                class="header-block__navigation__nav-item__image"
                src="../../assets/icons/fire.svg"
                alt="promo"
              />
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >HOTS</a
              >
              <a class="header-block__navigation__nav-item__button" href="#"
                >&#9660;</a
              >
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >COLDS</a
              >
              <a class="header-block__navigation__nav-item__button" href="#"
                >&#9660;</a
              >
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >BAKERY</a
              >
              <a class="header-block__navigation__nav-item__button" href="#"
                >&#9660;</a
              >
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >DESSERT</a
              >
              <a class="header-block__navigation__nav-item__button" href="#"
                >&#9660;</a
              >
            </div>
            <div class="header-block__navigation__nav-item">
              <a class="header-block__navigation__nav-item__text" href="#"
                >BEVERAGE</a
              >
              <a class="header-block__navigation__nav-item__button" href="#"
                >&#9660;</a
              >
            </div>
          </div>
        </nav>
        <section>
          <div class="header-block__services">
            <a class="header-block__services__service" href="#" title="Search"
              ><img src="../../assets/icons/search.svg" alt="search"
            /></a>
            <a class="header-block__services__service" href="#" title="Search"
              ><img src="../../assets/icons/user.svg" alt="user"
            /></a>
            <a class="header-block__services__service" href="#" title="Search"
              ><img src="../../assets/icons/cart.svg" alt="cart"
            /></a>
          </div>
        </section>
      </div>
    </header>
  </body>
</html>
